$red: #d91f26;

html {

}

body {
	position: relative;
	color: white;
	font-family: 'Raleway', sans-serif;
}

ul {
	list-style: none;
	padding-left: 0;
}

video {
	// display: none;
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -9999;
}

h2 {
	font-size: 60px;
	font-weight: 900;
	margin-bottom: 80px;
	text-transform: uppercase;
}

input, textarea {
	outline: none!important;
	box-sizing: border-box;
	max-width: 650px;
	width: 100%; 
	margin-bottom: 20px;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: rgba(255,255,255,.8);
	font-style: italic;
	padding: 10px 30px;
	color: #010101;
	font-size: 25px;
	font-weight: 400;
	border: 1px solid rgba(255,255,255,.8);
	-webkit-transition: background .5s;
	-moz-transition: background .5s;
	-o-transition: background .5s;
	transition: background .5s;	
	&:focus {
		outline: none!important;
		background: transparent;
		color: white;
	}
}

.hidden {
	opacity:0;
}

.visible {
	opacity: 1!important;
}

a {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.text-center {
	text-align: center;
}

.clearfix:after {
	content		: ".";
	visibility	: hidden;
	display		: block;
	height		: 0;
	clear		: both;
}

.separate {
	clear: both;
	height: 1px;
	background: #666666;
	width: 100%;
}

.btn {
	color: white;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 15px;
	border: none;
	outline: none;
	&:hover {
		cursor: pointer;
	}
}

.btn-loud {
	opacity: 0;
	font-weight: 700;
	font-size: 22px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #d91e25;
	padding: 8px 25px;	
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;	

	&:hover {
		box-shadow: 0px 0px 17px 9px #9a2020;
		-webkit-box-shadow: 0px 0px 17px 9px #9a2020;
		-moz-box-shadow: 0px 0px 17px 9px #9a2020;
		background: #ef3f45;
	}
}

.video-link {
	position: relative;
	display: inline-block;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	top: -7px;
	margin-left: 70px;
	a:before {
		content: '';
    position: absolute;
    left: 4px;
    top: 3px;
    width: 35px;
    height: 35px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
		z-index: 0;
	}
	&:hover a:before{
    box-shadow:0px 0px 20px 15px #a11010;;
    -webkit-box-shadow:0px 0px 20px 15px #a11010;;
    -moz-box-shadow:0px 0px 20px 15px #a11010;;
	}
	img {
		position: relative;
		margin-right: 15px;
		margin-bottom: -13px;
	}
}

/*** Main class ***/
.main {
	.container {
		max-width: 1200px;
		margin: 0 auto;
		padding: 180px 0 0;
		padding-bottom: 140px;

		h1 {
			position: relative;
			display: inline-block;
			font-size: 95px;
			font-weight: 700;
			text-transform: uppercase;
			margin-top: 0;
			margin-bottom: 15px;
			&:before {
				content: '';
				position: absolute;
				width: 100%;
				height: 4px;
				background: #d91f26;
				top: 0;
			}
		}

		h2 {
			opacity: 0;
			-webkit-animation-duration: 1.2s;
			-o-animation-duration: 1.2s;
			-moz-animation-duration: 1.2s;
			animation-duration: 1.2s;
		}
	}
}


/***** Main page ****/

// Pagination
#fp-nav {
	margin-right: 75px;

	ul li {
		width: 20px;
		height: 20px;
		margin: 10px 0;

		a {
			span {
				width: 12px;
				height: 12px;
			}

			&.active span {
				background: #d91f26;
				width: 18px;
				height: 18px;
				margin: -6px 0 0 -4.5px;
			}
		}

		&:hover {
			a span, a.active span {
				width: 18px; 
				height: 18px;
			}
		}
	}
}

// Burger

.burger-block {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 100;
	.burger {
		position: relative;
		z-index: 10;
		cursor: pointer;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		border: 2px solid white;
		display: inline-block;
		padding: 5px 10px;
		-webkit-transition: all .7s;
		-moz-transition: all .7s;
		-o-transition: all .7s;
		transition: all .7s;
		&.burger-open {
			background: $red;
			span {
			}
		}
		span {
			-webkit-transition: all .7s;
		-moz-transition: all .7s;
		-o-transition: all .7s;
		transition: all .7s;
			display: block;
			height: 2px;
			width: 20px;
			background: white;
			margin: 5px 0;
		}
	}
	.navbar-mob {
		position: fixed;
			top: 0;
			right: 0;
			left: 0;
			margin: 0;
			background: rgba(0, 0, 0, .9);
			text-align: center;
			font-size: 24px;
			font-weight: 700;
			height: 100vh;
			overflow: scroll;
		.nav {
			
			li {
				&.active a:before {
					content: '';
					position: absolute;
					background: url(../img/bg/active-link.png) center no-repeat;
					left: -30px;
					top: 20px;
					width: 17px;
					height: 17px;
				}
				a {
					position: relative;
					display: inline-block;
					padding: 15px 0;
				}
				&:hover {
					a {
						color: $red;
					}
				}
			}
		}
	}
}

// Header

.header {
	position: absolute;
	max-width: 1200px;
	top: 0;
	left: 0;
	z-index: 10;
	right: 0;
	margin-top: 60px;
	margin: 60px auto 0;

	.lang-select {
		position: relative;
		display: inline-block;
		font-size: 14px;
		line-height: 44px;
		font-weight: 900;
		top: -12px;
		text-transform: uppercase;
		&.active {
			background: rgba(31, 31, 31, 0.97);
		}

		&:before {
			content: '';
			position: absolute;
			top: 10px;
			left: 5px;
			background: url(../img/bg/lang-icon.png) center no-repeat;
			width: 22px;
			height: 22px;
		}

		img {
			width: 20px;
			position: absolute;
			left: 6px;
			top: 10px;
		}

		.caret-lang {
			position: absolute;
			top: 0;
			right: 15px;
			color: #d91f26;
			font-size: 10px;
			pointer-events: none;
		}

		#lang-selected {
			width: 100px;
			background: none;
			border: none;
			outline: none!important;
			font-size: 14px;
			line-height: 30px;
			padding: 0;
			font-weight: 900;
			color: white;
			font-style: inherit;
			margin-bottom: 0;
			text-align: center;
			cursor: pointer;
			text-transform: uppercase;
		}

		.dropdown-lang {
			display: none;
			margin: 0;
			li {
				position: relative;
				&:hover {
					background: #d91f25;
					cursor: pointer;
				}
			}
		}
	}

	.login {
		float: right;

		.btn-login {
			position: relative;
			background: none;
			padding-left: 25px;
			border-bottom: 1px solid transparent;
			padding-bottom: 5px;
			-webkit-transition: border .7s;
			-moz-transition: border .7s;
			-o-transition: border .7s;
			transition: border .7s;
			&:hover {
				border-bottom: 1px solid white;
			}

			&:before {
				content: '';
				position: absolute;
				width: 18px;
				height: 18px;
				background: url(../img/bg/login-icon.png) center no-repeat;
				left: 0;
				top: 0;
			}
		}

		.btn-loud {
			opacity: 1;
			font-size: 14px;
			font-weight: 900;
			letter-spacing: 1px;
			position: relative;
			top: -3px;
			margin-left: 45px;
		}
	} 
}

// Aside

.aside {
	max-width: 290px;
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	display: inline-block;
	z-index: 10;
	box-sizing: border-box;
	padding: 20px 80px 80px;

	.nav {
		position: absolute;
		top: 45%;
		transform: translate(0,-50%);
		li {
			position: relative;
			font-size: 14px;
			line-height: 44px;
			text-transform: uppercase;
			font-weight: 900;
			
			&:hover a {
				display: inline-block;
				-webkit-transition: color 0.7s, transform 0.7s;
				-moz-transition: color 0.7s, transform 0.7s;
				-o-transition: color 0.7s, transform 0.7s;
				transition: color 0.7s, transform 0.7s;			
				-moz-transform: scale(1.2);
				-ms-transform: scale(1.2); 
				-webkit-transform: scale(1.2); 
				-o-transform: scale(1.2); 
				transform: scale(1.2);
				color: $red;				
			}
			&.active:before {
				content: '';
				position: absolute;
				background: url(../img/bg/active-link.png) center no-repeat;
				left: -30px;
				top: 12px;
				width: 17px;
				height: 17px;
			}
		}
	}
}

// Footer

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 80px 80px;
	z-index: 20;

	.copyright {
		font-size: 13px;
		font-weight: 600;
		position: absolute;
		left: 0;
		color: #545554;
	}
	
	.social-icons {
		float: right;
		position: absolute;
		right: 0;
		top: -5px;
		a {
			position: relative;
			display: inline-block;
			color: #808080;
			width: 30px;
			height: 30px;
			-moz-border-radius: 50%;
			-webkit-border-radius: 50%;
			border-radius: 50%;
			-webkit-transition:  all 0.7s;
			-moz-transition:  all 0.7s;
			-o-transition: all 0.7s;
			transition: all 0.7s;
			&:hover {
				color: white;
				background: $red;
			}
			
			i {
				position: relative;
				top: 7px; 
				padding: 0 10px;

				&.fa-twitter, &.fa-instagram {
					left: -2px;
				}

				&.fa-google-plus {
					left: -5px;
				}
			}
		}
	}

	.footer-nav {
		display: inline-block;
		a {
			font-size: 13px;
			font-weight: 600;
			color: #eb2b33!important;
			padding-bottom: 5px;
			margin: 0 12px;
			-webkit-transition:  border 0.7s;
			-moz-transition:  border 0.7s;
			-o-transition: border 0.7s;
			transition: border 0.7s;
			border: 0px;
			border-bottom: 2px solid transparent;
			&:hover {
				border-bottom: 2px solid #8f1a1e;
			}
		}
	}
}

.index .container h2 {
	margin-bottom: 10px;
}

.section {
	height: 100%!important;
	&:before {
		content: '';
		background: black;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: -99999;
	}
	.btn {
		-moz-border-radius: 25px;
		-webkit-border-radius: 25px;
		border-radius: 25px;
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		background-color: #d91f25;
		padding: 15px 40px;
	}
	.container {
			// max-width: 1200px;
			// margin: 0 auto;
			// margin-left: 290px;
			margin: 0 150px 0 290px;
			padding: 135px 0;
		}
}

// section 1

.section-one {
	font-family: "Kozuka Gothic Pr6N";
	font-size: 195px;
	background: url(../img/bg/bg-section-one.png) center no-repeat;
	background-size: cover;
	min-height: 100vh;
	img {
		position: absolute;
		bottom: 20%;
		left: 0;
		right: 0;
		margin: auto;
	}
}


// section 2
.section-two {
	background: url(../img/bg/bg-section-two.png) center no-repeat;
	overflow: hidden;

	h2 {
		margin-left: -180px;
	}

	video {
		max-width: 60%;
		margin-top: 50px;
		min-height: 80%;
		left: 0;
		margin: auto;
		min-width: inherit;
	}

	.block-advantage {
		position: relative;
		text-align: left;
		margin: 20px 0 40px;
		
		&:before {
			-webkit-transition:  all 0.7s;
			-moz-transition:  all 0.7s;
			-o-transition: all 0.7s;
			transition: all 0.7s;
			content: '';
			position: absolute;
			width: 18px;
			height: 18px;
			-moz-border-radius: 15px;
			-webkit-border-radius: 15px;
			border-radius: 15px;
			background: #d91f26;
		}
		&:hover:before{
			/* -moz-transform: scale(1.1);
			-ms-transform: scale(1.1); 
			-webkit-transform: scale(1.1); 
			-o-transform: scale(1.1); 
			transform: scale(1.1);
			left: 0; */
			background: #fa040e;;
			    box-shadow: 0 0 13px 7px #a22c2c;

		}
		h3 {
			font-size: 27px;
			font-weight: 900;
			margin-bottom: 20px;
		}
		p {
			font-size: 16px;
			font-weight: 400;
			color: #878686;
			line-height: 30px;
		}
		&.odd {
			float: left;
			clear: both;
			margin: 0 0 20px;
			&:before {
				right: -35px;
				top: 35px;
			}

			&.top-advantage {
				margin-left: 140px;
				&:before {
					right: -120px;
					top: 50px;
				}
			}

			&.bottom-advantage {
				margin-left: 50px;
				&:before {
					right: 65px;
					top: 0;
				}
			}
		}
		&.even {
			float: right;
			&:before {
				left: -95px;
				top: 30px;
			}

			&.top-advantage {
				margin-right: 140px;
				&:before {
					left: -105px;
					top: 10px;
				}
			}

			&.bottom-advantage {
				margin-right: 50px;
			}
		}
	}
}

// Section 3

.section-three {
	background: url(../img/bg/bg-section-three.jpg) center no-repeat;
	background-size: cover;
	.container {
		width: 45vw;
	}
	h2 {
		display: inline-block;
		margin-top: 10px;
		margin-bottom: 30px;
	}
	.reg-text {
		font-size: 18px;
		color: #b7b7b7;
		font-weight: 500;
		line-height: 43px;
		text-align: justify;
	}
	.btn-loud {
		margin-top: 45px;
	}
}

// Section 4

.section-four {
	background: url(../img/bg/bg-section-four.jpg) -85px -195px  no-repeat;
	overflow: hidden;
	// background-size: cover;

	h2 {
		margin-bottom: 0;
		margin-top: 0;
	}

	.block-steps {
		position: relative;
		// left: 18%;
		top: 50px;
		counter-reset: list;
		margin-left: 110px;
		.block-step {
			opacity: 0;
			display: inline-block;
			position: relative;
			vertical-align: top;
			float: left;
			&:before {
				counter-increment: list;
				content: counter(list);
				display: block;
				position: absolute;
				left: -50px;
				top: -20px;
				text-align: center;
				-moz-background-clip: padding;
				-webkit-background-clip: padding-box;
				background-clip: padding-box;
				background-color: #d91f25;
				-moz-box-shadow: 0 31px 46px rgba(0,0,0,.97);
				-webkit-box-shadow: 0 31px 46px rgba(0,0,0,.97);
				box-shadow: 0 31px 46px rgba(0,0,0,.97);		
				width: 50px;
				height: 50px;
				font-size: 27px;
				font-weight: 900;
				line-height: 42px;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				border-radius: 50%;
			}
			h3 {
				font-size: 27px;
				font-weight: 900;
				margin-bottom: 5px;
			}
			p {
				font-size: 16px;
				font-weight: 400;
				color: #878686;
				line-height: 30px;
				margin-top: 0;
			}

			&:first-child {
				margin-top: 400px;
				top: -55px;
			}
			&:nth-child(2) {
				margin-top: 165px;
				left: -100px;
			}
			&:nth-child(3) {
				margin-top: 140px;
				left: 65px;
			}
			&:last-child {
				margin-top: 0;
				left: -34px;
				top: 27px;
			}
		}
	}

	.btn-loud {
		position: absolute;
		right: 30%;
		bottom: 20%;
	}
}


/*** Contacts ***/
.contacts {
	background: black;
	// background: url(../img/bg/bg-contacts.jpg) center no-repeat;
	// background-size: cover;
	// background-attachment: fixed;
		min-height: 100vh;
	.main {
		/* &>.clearfix>.clearfix {
			display: none;
		} */
		.container {
			position: relative;
			z-index: 2;
			.clearfix {
				display: none;
			}
		}

		#map {
			position: absolute;
			pointer-events: none;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			height: 100%;
			width: 100%;
			&:before {
			content: '';
				position: fixed;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				width: 100vw;
				height: 100vh;
				background: url(../img/bg/bg-contact-shadows.png) no-repeat;
				opacity: .7;
				z-index: 1;
			}
		}

		h2 {
			margin-bottom: 30px;
		}

		.side {
			vertical-align: top;
			display: inline-block;
		}

		.left-side {
			width: 60%;
			float: left;

			.btn-loud {
				padding: 15px 35px;
				-moz-border-radius: 25px;
				-webkit-border-radius: 25px;
				border-radius: 25px;
				margin-top: 20px;
			}
		}

		.right-side {
			width: 40%;
			float: right;
			padding-left: 40px;
			box-sizing: border-box;

			.contact-block {
				line-height: 25px;
				font-size: 15px;
				font-weight: 700;

				p {
					display: inline-block;
				}
				.fa {
					color: #c31015;
					position: relative;
					margin-right: 20px;
					font-size: 35px;
				}

				&:first-child {
					.fa {
						margin-right: 23px;
						top: 3px;
						float: left;
						padding-bottom: 20px;
					}
				}
				&:nth-child(2) {
					.fa {
						top: 7px;
						left: 3px;
						margin-right: 28px;
					}
				}
				&:last-child {
					.fa {
						font-size: 24px;
						top: 4px;
					}
				}
			}
		}
	}
}


/*** Career ***/
.career {
	background: url(../img/bg/bg-career.jpg) top no-repeat black;
	background-attachment: fixed;
	&:before {
		content: '';
		position: fixed;
		pointer-events: none;
		width: 100vw;
		height: 100vh;
		-webkit-box-shadow: inset 10px 10px 168px 100px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: inset 10px 10px 168px 100px rgba(0, 0, 0, 0.75);
		box-shadow: inset 10px 10px 168px 100px rgba(0, 0, 0, 0.75);
	}
	// background-size: cover;
	.main>.container {
		padding-bottom: 40px;
	}

	.career-list {
		.career-block {
			opacity: 0;
			padding: 25px 35px;
			max-width: 960px;
			width: 100%;
			box-sizing: border-box;
			margin: 20px 0;
			font-weight: 500;
			position: relative;
			-moz-border-radius: 30px;
			-webkit-border-radius: 30px;
			border-radius: 30px;
			-moz-background-clip: padding;
			-webkit-background-clip: padding-box;
			background-clip: padding-box;
			background-color: rgba(0,0,0,.93);
			-webkit-transition:  transform 0.7s;
			-moz-transition:  transform 0.7s;
			-o-transition: transform 0.7s;
			transition: transform 0.7s;

			&:hover {
				-moz-transform: scale(1.1);
				-ms-transform: scale(1.1); 
				-webkit-transform: scale(1.1); 
				-o-transform: scale(1.1); 
				transform: scale(1.1);
			}

			.block-sect {
				display: inline-block;
				vertical-align: top;

				&.descr {
					min-width: 290px;
				}

				&.turnover {
					max-width: 200px;
					margin-left: 10px;
					.mid-title {
						font-family: 'Roboto', sans-serif;
						font-weight: 900;
					}
				}
				
				&.icon {
					float: left;
					text-align: center;
					max-width: 90px;
					img {
						position: relative;
						top: 3px;
					}
				}

				&.percent {
					font-family: 'Roboto', sans-serif;
					font-weight: 500;
					font-size: 50px;
					color: #d91f26;
					line-height: 84px;
					min-width: 200px;
				}

				&.lvl {
					font-size: 16px;
					-moz-border-radius: 17px;
					-webkit-border-radius: 17px;
					border-radius: 17px;
					padding: 23px 0;
					box-sizing: border-box;
					width: 80px;
					margin-right: 20px;

					.wrap-bg{
						-moz-border-radius: 17px;
						-webkit-border-radius: 17px;
						border-radius: 17px;
						box-sizing: border-box;
						padding: 7px 12px;
					}

					&.lvl-1 .wrap-bg {
						background-color: #2f2f2f;
					}
					&.lvl-2 .wrap-bg {
						background-color: #955139;
					}
					&.lvl-3 .wrap-bg {
						background-color: #848e94;
					}
					&.lvl-4 .wrap-bg {
						background-color: #e67700;
					}
					&.lvl-5 .wrap-bg {
						background-color: #80361d;
					}
					&.lvl-6 .wrap-bg {
						background-color: #3f549b;
					}
					&.lvl-7 .wrap-bg {
						background-color: #a92527;
					}
					&.lvl-8 .wrap-bg {
						background-color: #507d36;
					}
					&.lvl-9 .wrap-bg {
						background-color: #2f939c;
					}
					&.lvl-10 .wrap-bg {
						background-color: #13259a;
					}
				}

				.sub-title {
					color: #515151;
					font-size: 12px;
				}

				.mid-title {
					letter-spacing: 1px;
					font-size: 27px;
					font-weight: 900;
					padding: 10px 0 12px ;
				}

				.sup-title {
					font-size: 16px;
					color: #878686;
					.price {
						color: #d91f26;
						font-family: 'Roboto', sans-serif;
						font-weight: 500;
					}
				}
			}
		}
	}

	.career-descr {
		margin: auto;
		background: url(../img/bg/bg-news.jpg) top no-repeat black;
		// 
		// background: rgba(0, 0, 0, 0.8);
		// border-radius: 25px;
		// padding: 25px;
		box-sizing: border-box;
		.container {
			padding-top: 50px;
		}
		.career-descr-inner {
			max-width: 960px;
		}
		p {
			font-weight: 500;
			color: #b7b7b7;
			font-size: 18px;
			line-height: 43px;
		}
		h2 {
			margin-bottom: 30px;
		}
		h4 {
			color: #fefefe;
			font-size: 26px;
			font-weight: 900;
			letter-spacing: 1px;
			line-height: 43px;
			text-transform: uppercase;
		}
		img {
			max-width: 100%;
			margin-bottom: 40px;
		}
	}

}

/*** Faq ***/
.faq {
	// background: url(../img/bg/bg-faq.jpg) top no-repeat;
	// background-attachment: fixed;
	// background-size: cover;
	min-height: 100vh;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			background: url(../img/bg/bg-shadow.png);
			background-attachment: fixed;
		}
	.main {
		
		h2 {
			margin-bottom: 40px;
		}

		.form-search {
			form {
				position: relative;
				max-width: 650px;
			}
			.btn-search {
				position: absolute;
				right: 0;
				top: 2px;
				padding: 5px;
				font-size: 30px;
				background: none;
				color: #d91f26;
				box-shadow: none;
			}

			input {
				margin-left: 20px;
			}
		}

		.faq-list {
			.faq-item {
				font-size: 22px;
				font-weight: 700;
				letter-spacing: 1px;
				padding: 15px 20px;
				display: inline-block;
				&:hover {
					cursor: pointer;
					-moz-border-radius: 26px;
					-webkit-border-radius: 26px;
					border-radius: 26px;
					background-color: #c30f15;
					i {
						color: white;
					}
				}

				i {
					color: #c31015;
					padding-right: 15px;
				}
			}
		}

		.support-text {
			position: absolute;
			right: 0;
			bottom: 20%;
			display: none;
			letter-spacing: 1px;
			font-size: 22px;
			font-weight: 900;
			max-width: 500px;
			width: 100%;
			margin-top: 30px;
			img {
				float: left;
				margin-right: 20px;
			}
			p {
				margin: 0;
				padding: 14px 0;
			}
		}
	}
}

/*** Investments ***/
.investments {
	background: url(../img/bg/bg-section-four.jpg) center -100px  no-repeat black;

	.clearfix-two {
		display: none;
	}
	.main {
		h2 {
			margin-bottom: 0;
		}
	}

	.section-invest {
		position: relative;
		padding: 65px 0 0;
		&.section-more {
			padding: 40px 0 65px;
		}
		h2 {
			padding-bottom: 0;
		}
	}

	.section-four {
		background: none;
		padding-top: 0;

		.block-steps {
			position: relative;
			left: 9%;
			top: -50px;
			margin-left: 0;
		}

		.btn-loud {
			position: absolute;
			right: 15%;
			bottom: 20%;
		}
	}

	.section-cases {
		p {
			font-size: 14px;
			font-weight: 500;
			line-height: 28px;
			color: #878686;
		}

		.case-descr {
			// padding: 250px 15px 0;
			position: relative;
			top: -30px;
			margin-top: -6px;
			text-align: justify;
			.case-price {
				font-size: 20px;
				color: #d91f26;
				font-family: "Roboto BoldCond", sans-serif;
				font-weight: 500;
			}
		}

		.case-list {
			.case-item {
				opacity: 0;
				display: inline-block;
				width: 33.33333%;
				float: left;
				padding: 45px 30px 0;
				box-sizing: border-box;

				&:hover {
					cursor: pointer;
					img {		
						-moz-transform: scale(1.1);
						-ms-transform: scale(1.1); 
						-webkit-transform: scale(1.1); 
						-o-transform: scale(1.1); 
						transform: scale(1.1);
					}					
				}

				/* &:nth-child(1) {
					background: url(../img/cases-icons/case-1.png) center no-repeat;
					background-size: 115%;
				}
				
				&:nth-child(2) {
					background: url(../img/cases-icons/case-2.png) center no-repeat;
					background-size: 115%;
				}
				
				&:nth-child(3) {
					background: url(../img/cases-icons/case-3.png) center no-repeat;
					background-size: 115%;
				}
				
				&:nth-child(4) {
					background: url(../img/cases-icons/case-4.png) center no-repeat;
					background-size: 115%;
				}
				
				&:nth-child(5) {
					background: url(../img/cases-icons/case-5.png) center no-repeat;
					background-size: 115%;
				}
				
				&:nth-child(6) {
					background: url(../img/cases-icons/case-6.png) center no-repeat;
					background-size: 115%;
				}
				
				&:nth-child(7) {
					background: url(../img/cases-icons/case-7.png) center no-repeat;
					background-size: 115%;
				}
				
				&:nth-child(8) {
					background: url(../img/cases-icons/case-8.png) center no-repeat;
					background-size: 115%;
				}
				
				&:nth-child(9) {
					background: url(../img/cases-icons/case-9.png) center no-repeat;
					background-size: 115%;
				} */

				img {
					position: relative;
					left: -60px;
					max-width: 135%;
					-webkit-transition:  transform 0.7s;
					-moz-transition:  transform 0.7s;
					-o-transition: transform 0.7s;
					transition: transform 0.7s;
				}
			}
		}
	}

	.section-more {
		h2 {
			margin-top: 0;
		}
		p {
			font-size: 27px;
			margin: 65px 0 50px;
			font-weight: 900;
			line-height: 44px;
			letter-spacing: 1px;
		}
		.btn {
			-moz-border-radius: 25px;
			-webkit-border-radius: 25px;
			border-radius: 25px;
		}
	}
}


/*** About ***/
.about {
	position: relative;
	.main {
		.section-about-one {
			position: relative;
			background: url(../img/bg/bg-contact-shadow.png) center no-repeat;
			background-attachment: fixed;
			// background-size: cover;
			min-height: 100vh;
		}

		h2 {
			margin: 10px 0 50px;
		}
		.descr {
			font-weight: 500;
			line-height: 40px;
			font-size: 18px;
			color: #b7b7b7;
		}

		.separate {
			margin-top: 40px;
		}

		.about-list {
			margin: 0;
			.about-item {
				display: inline-block;
				width: 25%;
				float: left;
				padding: 55px 20px 0;
				box-sizing: border-box;
				img {
					float: left;
					padding-right: 20px;
					padding-bottom: 30px;
				}
			}
			.descr {
				font-size: 16px;
				line-height: 30px;
				margin: 0;
			}
		}

		.section-about-two {
			background: url(../img/bg/bg-about-two.jpg) center top  no-repeat black;
			background-size: cover;
			min-height: 100vh;

			.container {
				padding-top: 0;

				.sep-sect {
					padding: 80px 0 20px;

					h2 {
						margin-bottom: 20px;
						display: inline-block;
					}

					.btn {
						display: inline-block;
						margin-top: 30px;
					}
				}
			}
		}
	}
}

/*** Statistics ***/
.statistics {
	position: relative;
	background: url('../img/bg/bg-statistics.jpg') center no-repeat black;
	background-attachment: fixed;
	background-size: cover;
	min-height: 100vh;
	.main {
		h2 {
			text-transform: inherit;
			margin: 20px 0 30px;
		}

		.stat-graph {
			max-width: 100%;
		}

		.btn-loud {
			display: inline-block;
			margin: 35px 0;
		}
		.graph-container {
			display: none;
			box-sizing: border-box;
			max-width: 880px;
			width: 100%;
			height: 375px;
			// margin-bottom: 65px;
			padding: 20px 15px 15px 15px;
			// margin: 15px auto 30px auto;
			background: #fff;
			background: transparent;
			border: 0;
			box-shadow: 0 3px 10px rgba(0,0,0,0.15);
			-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
			-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
			-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
			-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
		}

		.graph-placeholder {
			width: 100%;
			height: 100%;
			font-size: 14px;
			line-height: 1.2em;
		}

		.legend table {
			border-spacing: 5px;
		}
	}
}


/*** Statistics ***/
.news {
	position: relative;
	background: url('../img/bg/bg-news.jpg') center no-repeat black;
	background-attachment: fixed;
	background-size: cover;
	min-height: 100vh;
	.main {
		.news-list {
			margin: 0;
			.news-item {
				opacity: 0!important;
				position: relative;
				width: 25%;
				display: inline-block;
				float: left;
				padding: 15px;
				box-sizing: border-box;
				-webkit-transition: opacity 2s, transform 0.7s;
				-moz-transition: opacity 2s, transform 0.7s;
				-o-transition: opacity 2s, transform 0.7s;
				transition: opacity 2s, transform 0.7s;
				&:hover {
					-moz-transform: scale(1.1);
					-ms-transform: scale(1.1); 
					-webkit-transform: scale(1.1); 
					-o-transform: scale(1.1); 
					transform: scale(1.1);

					img {
						-webkit-filter: grayscale(0%);
						-moz-filter: grayscale(0%);
						-ms-filter: grayscale(0%);
						-o-filter: grayscale(0%);
						filter: grayscale(0%);
						filter: gray;
					}
				}
				/* &:before {
					content: '';
					position: absolute;
					pointer-events: none;
					left: 15px;
					right: 15px;
					bottom: 15px;
					top: 15px;
					background: rgba(0, 0, 0, .7);
				}
				&:hover:before {
					background: none;
				} */
				&.visible-mode {
					opacity: 1!important;
				}
				img {
					max-width: 100%;
					-webkit-transition: all .7s;
					-moz-transition: all .7s;
					-o-transition: all .7s;
					transition: all .7s;
					-webkit-filter: grayscale(100%);
					-moz-filter: grayscale(100%);
					-ms-filter: grayscale(100%);
					-o-filter: grayscale(100%);
					filter: grayscale(100%);
					filter: gray;
				}

				.news-date {
					font-family: 'Roboto', sans-serif;
					position: absolute;
					top: 40px;
					left: 40px;
					font-size: 21px;
					font-weight: 900;
				}

				.news-title {
					position: absolute;
					bottom: 40px;
					left: 30px;
					font-size: 16px;
					letter-spacing: 1px;
					font-weight: 900;
					padding: 5px 10px;
					box-sizing: border-box;
					background-color: #d91f25;
				}
			}
		}
	}
}

/* Responsive Styles */

@media screen and (max-width: 1780px) {
	.main .container, .header, .section .container {
		margin-left: 290px;
		margin-right: 50px;
	}
	.investments {
		background: url(../img/bg/bg-section-four.jpg) -120px -100px no-repeat black;
	}
	.investments .section-four .block-steps {
		left: 55px;
	}
	.investments .section-invest.section-four {
		overflow: hidden;
	}
	.section-two h2 {
		margin-left: 0;
		text-align: left;
	}
	.section-two video {
		max-width: 35%;
	}
	.section-two .block-advantage.even.top-advantage:before {
		top: inherit;
		bottom: 0;
		left: -50px;
	}
	.section-two .block-advantage.odd.top-advantage:before {
		top: inherit;
		bottom: 30px;
		right: -85px;
	}
	.section-three .container {
		width: 55%;
	}
	.section-two video {
		left: 75px;
	}
}

@media screen and (max-width: 1440px) {
	.news .main .news-list .news-item {
		width: 33.33333%;
	}

	.section-two .block-advantage {
		margin: 0!important;
		float: inherit!important;
		clear: both;
		// display: inline-block;
		&:before {
			right: 20%	!important;
			top: 20px!important;
			bottom: inherit!important;
			left: inherit!important;

		}
	}
	.section-two video {
		left:inherit;
		right: -43%;
		max-width: 100%;
		top: -32%;
	}
	.main .container h1 {
		font-size: 75px;
	}
	.main .container h2, .index .container h2 {
		font-size: 45px;
	}
	.investments {
		background: url(../img/bg/bg-section-four.jpg) 0 -230px no-repeat black;
	}
	.section-four .block-steps .block-step:first-child {
		margin-top: 550px;
	}
	.section-four .block-steps .block-step:nth-child(2) {
		position: absolute;
		margin-top: 360px;
		left: 95px;
	}
	.section-four .block-steps .block-step:nth-child(3) {
		position: absolute;
		margin-top: 200px;
		left: 165px;
	}
	.section-four .block-steps .block-step:nth-child(4) {
		position: absolute;
		left: 325px;
    margin-top: 85px;
	}
	.investments .section-four .btn-loud {
		bottom: 35%;
	}
	.about .main .about-list .about-item {
		width: 50%;
	}
	.index .section-four .block-steps {
		width: 100%;
	}
	.index .section-four {
		background: url(../img/bg/bg-section-four.jpg) 20px -275px no-repeat;
	}
	.index .section-four .btn-loud {
		right: 10%;
	}
}

@media screen and (max-width: 1300px){
	.section-three .reg-text {
		line-height: 30px;
		font-size: 16px;
	}
	.index .section-four .btn-loud {
		font-size: 18px;
	}
	.career .career-list .career-block .block-sect {
		width: 28%!important;
		margin-right: 0;
		&.icon {
			padding-bottom: 65px;
			img {
				top: 10px;
			}
		}
		&.lvl {
			margin-right: 0;
			padding: 7px 0;
			min-width: 200px;
			.wrap-bg {
				max-width: 100px;
				margin: auto;
			}
		} 
		.about .main .descr br {
			display: none;
		}
		&.turnover .mid-title, &.turnover .sub-title {
			display: inline-block;
			color: white;
			font-family: 'Roboto', sans-serif;
			font-weight: 900;
			font-size: 22px;
			margin-right: 5px;
			letter-spacing: 1px;
		}
		&.turnover {
			margin-left: 0; 
		}
		&.descr, &.turnover {
			width: 40%!important;
			max-width: inherit;
		}
	}
	.investments .section-cases .case-list .case-item img {
		left: -45px;
	}
	.index .section-four {
		background: url(../img/bg/bg-section-four.jpg) -20px -275px no-repeat;
	}
}

@media screen and (max-width: 1150px) {
	.section-three .container {
		width: 55%;
	}
	.index .section-four {
		background: url(../img/bg/bg-section-four.jpg) -40px -275px no-repeat;
	}
	.aside {
		padding: 20px 20px 80px 45px;
	}
	.about .main .descr br {
			display: none;
		}
	.video-link {
		margin: 0 0 0 30px;
	}
	.investments .section-cases .case-list .case-item img {
		left: -35px;
	}
	.main .container {
		padding-top: 135px;
	}
	.investments .section-cases p {
		line-height: 25px;
		margin-bottom: 0;
	}
	.main .container, .header, .section .container {
		margin-left: 225px;
	}
	.investments .section-cases .case-list .case-item {
		padding: 15px 25px 0;
	}
	.header .login .btn-loud {
		margin-left: 20px;
	}
	.footer {
		margin: 0 30px 0;
		padding-bottom: 50px;
	}
	.contacts .main .right-side .contact-block {
		font-size: 14px;
	}
	.contacts .main .right-side .contact-block:first-child .fa {
		padding-bottom: 50px
	}
	.faq .main .support-text {
		position: relative;
		font-size: 18px;
	}
	.aside .nav li {
		line-height: 36px;
	}
	.investments {
		background: url(../img/bg/bg-section-four.jpg) -45px -280px no-repeat black;
	}
	.investments .section-four .btn-loud {
		position: absolute;
		right: 40px;
		font-size: 16px;
		bottom: 25%;
	}
	.index {
		video {
			width: 100%;
			height: 100%;
			min-width: inherit;
			min-height: inherit;
		}
	}
}

@media screen and (max-width: 960px) {
	.main .container h1 {
		font-size: 65px
	}
	.section-four .block-steps .block-step {
		height: 180px;
	}
	.news .main .news-list .news-item {
		width: 50%;
	}
	.index .section-four .block-steps {
		position: static;
		width: inherit;
		margin: 0;
		margin-top: 65px;
	}
	.index .section-four .btn-loud {
		position: static;
		display: inline-block;
		margin-top: 30px;
	}
	.index .container h2 {
		padding-bottom: 0;
	}
	.news .main .news-list .news-item .news-title {
		font-weight: 700;
		font-size: 14px;
	}
	.aside .nav {
		top: 50%;
	}
	.video-link {
		margin: 30px 0;
		display: block;
		font-size: 18px;
	}
	.about .main .section-about-two .container .sep-sect h2 {
		letter-spacing: 1px;
		line-height: 60px;
	}
	.footer .footer-nav a {
		margin: 0 5px;
	}
	.contacts .main .side {
		width: 100% !important;
	}
	.contacts .main .right-side .contact-block {
		font-size: 16px;
	}
	.contacts .main .right-side .contact-block:first-child .fa {
		padding-bottom: 0;
	}
	.contacts .main .right-side {
		padding-left: 0;
	}
	.faq .main .form-search input {
		margin-left: 0;
	}
	.faq .main .form-search .btn-search {
		right: 10px;
		top: 2px;
	}
	.aside .nav li {
		line-height: 30px;
	}
	.career .career-list .career-block .block-sect.turnover .mid-title, .career .career-list .career-block .block-sect.turnover .sub-title {
		font-size: 15px;
	}
	.career .career-list .career-block .block-sect.descr {
		min-width: 190px;
	}
	.career .career-list .career-block .block-sect.percent, .career .career-list .career-block .block-sect.lvl {
		min-width: inherit;
		padding: 0;
	}
	.main .container h2, .index .container h2 {
		line-height: 45px;
	}
	.career .career-list .career-block .block-sect.descr, .career .career-list .career-block .block-sect.turnover {
		width: 47%!important;
	}
	.career .career-list .career-block .block-sect .mid-title {
		font-size: 18px;
	}
	.career .career-list .career-block .block-sect.percent {
		font-size: 36px;
	}
	.career .career-list .career-block .block-sect.lvl {
		font-size: 14px;
	}
	.career .career-list .career-block .block-sect.lvl .wrap-bg {
		max-width: 85px;
	}
	.career .career-list .career-block {
		padding: 15px 25px;
	}
	.investments .section-cases .case-list .case-item {
		width: 50%;
	}
	.investments .section-cases .case-list .clearfix-three {
		display: none;
	}
	.investments .section-cases .case-list .clearfix-two {
		display: block;
	}
	.investments .section-cases .case-list .case-item img {
		max-width: 100%;
		left: 0;
	}
	.investments .section-cases .case-descr {
		text-align: center;
	}
	.investments .main h2 {
		margin-bottom: 45px;
	}
	.investments .section-cases .case-descr {
		top: -20px;
	}
	.investments .section-cases .case-list .case-item:last-child {
		width: 100%;
	}
	.investments .section-four .btn-loud {
		position: static;
	}
	.section-four .block-steps .block-step {
		position: relative!important;
    left: 0!important;
    top: 0!important;
    height: 150px;
    text-align: center;
    margin: 30px 0!important;
    box-sizing: border-box;
    width: 50%;
	}
	.investments .section-four .block-steps {
		position: static;
	}
	.section-four .block-steps .block-step:before {
    left: 0;
    top: -30px;
    z-index: -1;
  }
  .investments .section-invest.section-four {
  	padding: 0 0 65px;
  }
  .investments {
  	background: url(../img/bg/bg-section-four.jpg) left bottom no-repeat black;
  }
  .section-four .block-steps .block-step p {
  	padding: 0 20px;
  	font-weight: 700;
  	box-sizing: border-box;
  	br {
  		display: none;
  	}
  }
  .investments .section-invest {
  	overflow: inherit;
  }
  .about .main .section-about-two .container .sep-sect h2 br {
  	display: none;
  }
  .about .main .section-about-two .container .sep-sect:nth-child(2) {
  	padding-top: 30px;
  }
  #fp-nav {
  	display: none;
  }
  .section-three h2 {
  	margin-bottom: 15px;
  }
}

@media screen and (max-width: 760px) {
	.news .main .news-list {
		text-align: center;
	}
	.burger-block {
		display: inline-block;
	}
	.career .career-list .career-block .block-sect.icon {
		padding-bottom: 15px;
	}
	.about {
		background: black;
	}
	.statistics .main .btn-loud {
		font-size: 16px;
	}
	.investments .section-four .main h2 {
		margin-bottom: 80px;
	}
	.section-three .container {
		width: 70%;
	}
	.section-four .block-steps .block-step h3 {
		margin-top: 0;
	}
	.section-four .block-steps .block-step:before {
		top: -55px;
	}
	.header .login .btn-loud {
		display: none;
	}
	.main .container h1 {
		font-size: 45px;
	}
	.logo img {
		max-width: 70%;
	}
	.main .container, .header, .section .container {
		margin-left: 40px;
	}
	.footer {
		margin-top: 50px;
		border-top: 1px solid gray;
		position: relative;
		background: black;
		margin: 0;
	}
	.section .container {
		padding-bottom: 35px;
	}
	.main .container {
		padding-bottom: 50px;
	}
	.footer .social-icons {
		float: inherit;
		position: static;
		margin-top: 40px;
	}
	.footer .copyright {
		position: static;
		margin: 30px 0;
	}
	.news .main .news-list .news-item .news-title {
		left: 15px;
		right: 15px;
		bottom: 0;
	}
	nav.navbar{
		display: none;
	}
	.aside {
		position: relative;
		padding: 20px 0 40px 40px;
	}
	.index .aside {
		position: absolute;
		padding: 20px 20px 0 45px;
		height: auto;
	}
	.main .container {
		padding-top: 0;
	}
	.header .lang-select {
		float: right;
	}
	.main .container h2, .index .container h2 {
		font-size: 30px;
	}
	.contacts .main .right-side .contact-block {
		font-size: 14px;
	}
	.career:before {
		-webkit-box-shadow: inset 10px 10px 168px 100px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 10px 10px 168px 100px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 10px 58px 20px rgba(0, 0, 0, 0.75);
	}
	.career .footer {
		background: black;
		margin: 0;
	}
	.career .career-descr p {
		margin-bottom: 0;
		padding-bottom: 15px;
	}
	.investments .section-more p {
    font-size: 20px;
    margin: 25px 0 40px;
  }
  .investments .section-cases p {
  	br {
  		display: none;
  	}
  }
  .section-four .block-steps .block-step h3 {
  	font-size: 22px;
  	padding: 0 15px;
  }
  .section-one {
  	font-size: 85px;
  }
}

@media screen and (max-width: 550px) {
	.main .container, .header, .section .container {
		margin-left: 35px;
		margin-right: 35px;
	}
	.section-two .block-advantage p {
		padding-right: 90px;
		br {
			display: none;
		}
	}
	.header {
		overflow: hidden;
	}
	.section-two .block-advantage:before {
		display: none;
	}
	.career .career-list .career-block .block-sect.turnover {
		margin-top: -4px;
	}
	.section-two .block-advantage h3 {
		position: relative;
    font-size: 20px;
    margin-bottom: 0;
    display: inline-block;

	}
	.section-two .block-advantage h3:before {
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
    content: '';
    right: -30px;
		top: 5px;
    position: absolute;
    width: 18px;
    height: 18px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: #d91f26;
}
	.section-four .block-steps .block-step p {
		font-size: 14px;
		line-height: 24px;
	}
	.about .main .descr, .about .main .about-list .descr {
		font-size: 14px;
		line-height: 28px;
	}
	.about .main .about-list .about-item {
		width: 100%;
	}
	.about .main .about-list {
		padding-bottom: 40px;
	}
	.section-three .container {
		width: initial;
	}
	.about .main .about-list .about-item img {
		padding-right: 10px;
		padding-bottom: 5px;
	}
	.investments {
		background: url(../img/bg/bg-section-four.jpg) left top no-repeat black;
	}
	.news .main .news-list .news-item .news-date {
		font-size: 16px;
	}
	.news .main .news-list .news-item .news-title {
		font-size: 12px;
	}
	.investments .section-cases .case-list .case-item {
		width: 100%;
	}
	.investments .section-cases .case-descr {
		top: -30px;
	}
	.faq .main .faq-list .faq-item {
		font-size: 18px;
	}
	input, textarea {
		font-size: 18px;
	}
	.faq .main .form-search .btn-search {
		right: 10px;
		top: -1px;
	}
	.main .container h2, .index .container h2 {
		line-height: 36px;
	}
	.about .main .section-about-two .container .sep-sect h2 {
		line-height: 40px;
	}
	.career .career-list .career-block .block-sect {
		width: 50% !important;
	}
	.career .career-list .career-block .block-sect.descr {
		width: 100% !important;
		text-align: center;
		margin-bottom: 20px;
	}
	.career .career-list .career-block .block-sect.icon {
		max-width: inherit;
	}
	.career .career-list .career-block .block-sect.percent {
		font-size: 50px;
	}
}

@media screen and (max-width: 480px) {
	.main .container h1 {
		font-size: 35px;
		margin-bottom: 20px;
		&:before {
			top: -5px;
		}
	}
	.section-four .block-steps .block-step {
		float: inherit!important;
	}
	.about .main .section-about-two .container .sep-sect .btn {
		font-size: 16px;
	}
	.statistics .main .btn-loud {
		font-size: 12px;
	}
	.video-link {
		font-size: 14px;
	}
	.section-four .block-steps .block-step {
		width: 100%;
		height: auto;
	}
	.main .container h2, .index .container h2 {
		font-size: 22px;
	}
	.investments .section-invest {
		padding: 45px 0 20px;
	}
	.investments .section-more p {
		font-size: 18px;
    line-height: 30px;
    font-weight: 700;
  }
  .investments .section-cases .case-list .case-item {
  	padding: 15px 0;
  }
  .investments .section-four {
  	padding-bottom: 50px;
  	padding-top: 0;
  }
}

@media screen and (max-width: 380px) {
	.footer .footer-nav {
		a {
			display: block;
			padding: 5px 0;
			margin: 10px 5px;
		}
	}
	.header {
		width: 50%;
		left: initial;
		margin-top: 45px;
		.login {
			padding: 0 10px 20px 40px;
		}
	}
	.career .career-list .career-block .block-sect.turnover .mid-title {
		font-size: 13px;
	}
	.career .career-list .career-block .block-sect.lvl.lvl-9 .wrap-bg {
		margin-top: 10px;
	}
	.faq .main .faq-list .faq-item {
		font-size: 14px;
		padding-left: 0;
	}
	input, textarea {
		font-size: 16px;
	}
	.faq .main .faq-list .faq-item i {
		padding: 0 10px;
	}
}

@media screen and (max-height: 700px) {
	.section-one img {
    bottom: 20px;
    width: 25px;
  }
}

// 