/* line 7, style.scss */
body {
  position: relative;
  color: white;
  font-family: 'Raleway', sans-serif;
}

/* line 13, style.scss */
ul {
  list-style: none;
  padding-left: 0;
}

/* line 18, style.scss */
video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -9999;
}

/* line 30, style.scss */
h2 {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 80px;
  text-transform: uppercase;
}

/* line 37, style.scss */
input, textarea {
  outline: none !important;
  box-sizing: border-box;
  max-width: 650px;
  width: 100%;
  margin-bottom: 20px;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: rgba(255, 255, 255, 0.8);
  font-style: italic;
  padding: 10px 30px;
  color: #010101;
  font-size: 25px;
  font-weight: 400;
  border: 1px solid rgba(255, 255, 255, 0.8);
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  -o-transition: background .5s;
  transition: background .5s;
}
/* line 60, style.scss */
input:focus, textarea:focus {
  outline: none !important;
  background: transparent;
  color: white;
}

/* line 67, style.scss */
.hidden {
  opacity: 0;
}

/* line 71, style.scss */
.visible {
  opacity: 1 !important;
}

/* line 75, style.scss */
a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* line 81, style.scss */
.text-center {
  text-align: center;
}

/* line 85, style.scss */
.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* line 93, style.scss */
.separate {
  clear: both;
  height: 1px;
  background: #666666;
  width: 100%;
}

/* line 100, style.scss */
.btn {
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 15px;
  border: none;
  outline: none;
}
/* line 107, style.scss */
.btn:hover {
  cursor: pointer;
}

/* line 112, style.scss */
.btn-loud {
  opacity: 0;
  font-weight: 700;
  font-size: 22px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #d91e25;
  padding: 8px 25px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 129, style.scss */
.btn-loud:hover {
  box-shadow: 0px 0px 17px 9px #9a2020;
  -webkit-box-shadow: 0px 0px 17px 9px #9a2020;
  -moz-box-shadow: 0px 0px 17px 9px #9a2020;
  background: #ef3f45;
}

/* line 137, style.scss */
.video-link {
  position: relative;
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  top: -7px;
  margin-left: 70px;
}
/* line 145, style.scss */
.video-link a:before {
  content: '';
  position: absolute;
  left: 4px;
  top: 3px;
  width: 35px;
  height: 35px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 1.5s;
  -moz-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s;
  z-index: 0;
}
/* line 161, style.scss */
.video-link:hover a:before {
  box-shadow: 0px 0px 20px 15px #a11010;
  -webkit-box-shadow: 0px 0px 20px 15px #a11010;
  -moz-box-shadow: 0px 0px 20px 15px #a11010;
}
/* line 166, style.scss */
.video-link img {
  position: relative;
  margin-right: 15px;
  margin-bottom: -13px;
}

/*** Main class ***/
/* line 175, style.scss */
.main .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 180px 0 0;
  padding-bottom: 140px;
}
/* line 181, style.scss */
.main .container h1 {
  position: relative;
  display: inline-block;
  font-size: 95px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 15px;
}
/* line 189, style.scss */
.main .container h1:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background: #d91f26;
  top: 0;
}
/* line 199, style.scss */
.main .container h2 {
  opacity: 0;
  -webkit-animation-duration: 1.2s;
  -o-animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  animation-duration: 1.2s;
}

/***** Main page ****/
/* line 213, style.scss */
#fp-nav {
  margin-right: 75px;
}
/* line 216, style.scss */
#fp-nav ul li {
  width: 20px;
  height: 20px;
  margin: 10px 0;
}
/* line 222, style.scss */
#fp-nav ul li a span {
  width: 12px;
  height: 12px;
}
/* line 227, style.scss */
#fp-nav ul li a.active span {
  background: #d91f26;
  width: 18px;
  height: 18px;
  margin: -6px 0 0 -4.5px;
}
/* line 236, style.scss */
#fp-nav ul li:hover a span, #fp-nav ul li:hover a.active span {
  width: 18px;
  height: 18px;
}

/* line 246, style.scss */
.burger-block {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
}
/* line 252, style.scss */
.burger-block .burger {
  position: relative;
  z-index: 10;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid white;
  display: inline-block;
  padding: 5px 10px;
  -webkit-transition: all .7s;
  -moz-transition: all .7s;
  -o-transition: all .7s;
  transition: all .7s;
}
/* line 266, style.scss */
.burger-block .burger.burger-open {
  background: #d91f26;
}
/* line 271, style.scss */
.burger-block .burger span {
  -webkit-transition: all .7s;
  -moz-transition: all .7s;
  -o-transition: all .7s;
  transition: all .7s;
  display: block;
  height: 2px;
  width: 20px;
  background: white;
  margin: 5px 0;
}
/* line 283, style.scss */
.burger-block .navbar-mob {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  height: 100vh;
  overflow: scroll;
}
/* line 298, style.scss */
.burger-block .navbar-mob .nav li.active a:before {
  content: '';
  position: absolute;
  background: url(../img/bg/active-link.png) center no-repeat;
  left: -30px;
  top: 20px;
  width: 17px;
  height: 17px;
}
/* line 307, style.scss */
.burger-block .navbar-mob .nav li a {
  position: relative;
  display: inline-block;
  padding: 15px 0;
}
/* line 313, style.scss */
.burger-block .navbar-mob .nav li:hover a {
  color: #d91f26;
}

/* line 324, style.scss */
.header {
  position: absolute;
  max-width: 1200px;
  top: 0;
  left: 0;
  z-index: 10;
  right: 0;
  margin-top: 60px;
  margin: 60px auto 0;
}
/* line 334, style.scss */
.header .lang-select {
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 44px;
  font-weight: 900;
  top: -12px;
  text-transform: uppercase;
}
/* line 342, style.scss */
.header .lang-select.active {
  background: rgba(31, 31, 31, 0.97);
}
/* line 346, style.scss */
.header .lang-select:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 5px;
  background: url(../img/bg/lang-icon.png) center no-repeat;
  width: 22px;
  height: 22px;
}
/* line 356, style.scss */
.header .lang-select img {
  width: 20px;
  position: absolute;
  left: 6px;
  top: 10px;
}
/* line 363, style.scss */
.header .lang-select .caret-lang {
  position: absolute;
  top: 0;
  right: 15px;
  color: #d91f26;
  font-size: 10px;
  pointer-events: none;
}
/* line 372, style.scss */
.header .lang-select #lang-selected {
  width: 100px;
  background: none;
  border: none;
  outline: none !important;
  font-size: 14px;
  line-height: 30px;
  padding: 0;
  font-weight: 900;
  color: white;
  font-style: inherit;
  margin-bottom: 0;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
}
/* line 389, style.scss */
.header .lang-select .dropdown-lang {
  display: none;
  margin: 0;
}
/* line 392, style.scss */
.header .lang-select .dropdown-lang li {
  position: relative;
}
/* line 394, style.scss */
.header .lang-select .dropdown-lang li:hover {
  background: #d91f25;
  cursor: pointer;
}
/* line 402, style.scss */
.header .login {
  float: right;
}
/* line 405, style.scss */
.header .login .btn-login {
  position: relative;
  background: none;
  padding-left: 25px;
  border-bottom: 1px solid transparent;
  padding-bottom: 5px;
  -webkit-transition: border .7s;
  -moz-transition: border .7s;
  -o-transition: border .7s;
  transition: border .7s;
}
/* line 415, style.scss */
.header .login .btn-login:hover {
  border-bottom: 1px solid white;
}
/* line 419, style.scss */
.header .login .btn-login:before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  background: url(../img/bg/login-icon.png) center no-repeat;
  left: 0;
  top: 0;
}
/* line 430, style.scss */
.header .login .btn-loud {
  opacity: 1;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 1px;
  position: relative;
  top: -3px;
  margin-left: 45px;
}

/* line 444, style.scss */
.aside {
  max-width: 290px;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  display: inline-block;
  z-index: 10;
  box-sizing: border-box;
  padding: 20px 80px 80px;
}
/* line 455, style.scss */
.aside .nav {
  position: absolute;
  top: 45%;
  transform: translate(0, -50%);
}
/* line 459, style.scss */
.aside .nav li {
  position: relative;
  font-size: 14px;
  line-height: 44px;
  text-transform: uppercase;
  font-weight: 900;
}
/* line 466, style.scss */
.aside .nav li:hover a {
  display: inline-block;
  -webkit-transition: color 0.7s, transform 0.7s;
  -moz-transition: color 0.7s, transform 0.7s;
  -o-transition: color 0.7s, transform 0.7s;
  transition: color 0.7s, transform 0.7s;
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  color: #d91f26;
}
/* line 479, style.scss */
.aside .nav li.active:before {
  content: '';
  position: absolute;
  background: url(../img/bg/active-link.png) center no-repeat;
  left: -30px;
  top: 12px;
  width: 17px;
  height: 17px;
}

/* line 494, style.scss */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 80px 80px;
  z-index: 20;
}
/* line 502, style.scss */
.footer .copyright {
  font-size: 13px;
  font-weight: 600;
  position: absolute;
  left: 0;
  color: #545554;
}
/* line 510, style.scss */
.footer .social-icons {
  float: right;
  position: absolute;
  right: 0;
  top: -5px;
}
/* line 515, style.scss */
.footer .social-icons a {
  position: relative;
  display: inline-block;
  color: #808080;
  width: 30px;
  height: 30px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}
/* line 528, style.scss */
.footer .social-icons a:hover {
  color: white;
  background: #d91f26;
}
/* line 533, style.scss */
.footer .social-icons a i {
  position: relative;
  top: 7px;
  padding: 0 10px;
}
/* line 538, style.scss */
.footer .social-icons a i.fa-twitter, .footer .social-icons a i.fa-instagram {
  left: -2px;
}
/* line 542, style.scss */
.footer .social-icons a i.fa-google-plus {
  left: -5px;
}
/* line 549, style.scss */
.footer .footer-nav {
  display: inline-block;
}
/* line 551, style.scss */
.footer .footer-nav a {
  font-size: 13px;
  font-weight: 600;
  color: #eb2b33 !important;
  padding-bottom: 5px;
  margin: 0 12px;
  -webkit-transition: border 0.7s;
  -moz-transition: border 0.7s;
  -o-transition: border 0.7s;
  transition: border 0.7s;
  border: 0px;
  border-bottom: 2px solid transparent;
}
/* line 563, style.scss */
.footer .footer-nav a:hover {
  border-bottom: 2px solid #8f1a1e;
}

/* line 570, style.scss */
.index .container h2 {
  margin-bottom: 10px;
}

/* line 574, style.scss */
.section {
  height: 100% !important;
}
/* line 576, style.scss */
.section:before {
  content: '';
  background: black;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -99999;
}
/* line 586, style.scss */
.section .btn {
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #d91f25;
  padding: 15px 40px;
}
/* line 596, style.scss */
.section .container {
  margin: 0 150px 0 290px;
  padding: 135px 0;
}

/* line 607, style.scss */
.section-one {
  font-family: "Kozuka Gothic Pr6N";
  font-size: 195px;
  background: url(../img/bg/bg-section-one.png) center no-repeat;
  background-size: cover;
  min-height: 100vh;
}
/* line 613, style.scss */
.section-one img {
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  margin: auto;
}

/* line 624, style.scss */
.section-two {
  background: url(../img/bg/bg-section-two.png) center no-repeat;
  overflow: hidden;
}
/* line 628, style.scss */
.section-two h2 {
  margin-left: -180px;
}
/* line 632, style.scss */
.section-two video {
  max-width: 60%;
  margin-top: 50px;
  min-height: 80%;
  left: 0;
  margin: auto;
  min-width: inherit;
}
/* line 641, style.scss */
.section-two .block-advantage {
  position: relative;
  text-align: left;
  margin: 20px 0 40px;
}
/* line 646, style.scss */
.section-two .block-advantage:before {
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: #d91f26;
}
/* line 660, style.scss */
.section-two .block-advantage:hover:before {
  /* -moz-transform: scale(1.1);
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  -o-transform: scale(1.1); 
  transform: scale(1.1);
  left: 0; */
  background: #fa040e;
  box-shadow: 0 0 13px 7px #a22c2c;
}
/* line 671, style.scss */
.section-two .block-advantage h3 {
  font-size: 27px;
  font-weight: 900;
  margin-bottom: 20px;
}
/* line 676, style.scss */
.section-two .block-advantage p {
  font-size: 16px;
  font-weight: 400;
  color: #878686;
  line-height: 30px;
}
/* line 682, style.scss */
.section-two .block-advantage.odd {
  float: left;
  clear: both;
  margin: 0 0 20px;
}
/* line 686, style.scss */
.section-two .block-advantage.odd:before {
  right: -35px;
  top: 35px;
}
/* line 691, style.scss */
.section-two .block-advantage.odd.top-advantage {
  margin-left: 140px;
}
/* line 693, style.scss */
.section-two .block-advantage.odd.top-advantage:before {
  right: -120px;
  top: 50px;
}
/* line 699, style.scss */
.section-two .block-advantage.odd.bottom-advantage {
  margin-left: 50px;
}
/* line 701, style.scss */
.section-two .block-advantage.odd.bottom-advantage:before {
  right: 65px;
  top: 0;
}
/* line 707, style.scss */
.section-two .block-advantage.even {
  float: right;
}
/* line 709, style.scss */
.section-two .block-advantage.even:before {
  left: -95px;
  top: 30px;
}
/* line 714, style.scss */
.section-two .block-advantage.even.top-advantage {
  margin-right: 140px;
}
/* line 716, style.scss */
.section-two .block-advantage.even.top-advantage:before {
  left: -105px;
  top: 10px;
}
/* line 722, style.scss */
.section-two .block-advantage.even.bottom-advantage {
  margin-right: 50px;
}

/* line 731, style.scss */
.section-three {
  background: url(../img/bg/bg-section-three.jpg) center no-repeat;
  background-size: cover;
}
/* line 734, style.scss */
.section-three .container {
  width: 45vw;
}
/* line 737, style.scss */
.section-three h2 {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 30px;
}
/* line 742, style.scss */
.section-three .reg-text {
  font-size: 18px;
  color: #b7b7b7;
  font-weight: 500;
  line-height: 43px;
  text-align: justify;
}
/* line 749, style.scss */
.section-three .btn-loud {
  margin-top: 45px;
}

/* line 756, style.scss */
.section-four {
  background: url(../img/bg/bg-section-four.jpg) -85px -195px no-repeat;
  overflow: hidden;
}
/* line 761, style.scss */
.section-four h2 {
  margin-bottom: 0;
  margin-top: 0;
}
/* line 766, style.scss */
.section-four .block-steps {
  position: relative;
  top: 50px;
  counter-reset: list;
  margin-left: 110px;
}
/* line 772, style.scss */
.section-four .block-steps .block-step {
  opacity: 0;
  display: inline-block;
  position: relative;
  vertical-align: top;
  float: left;
}
/* line 778, style.scss */
.section-four .block-steps .block-step:before {
  counter-increment: list;
  content: counter(list);
  display: block;
  position: absolute;
  left: -50px;
  top: -20px;
  text-align: center;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #d91f25;
  -moz-box-shadow: 0 31px 46px rgba(0, 0, 0, 0.97);
  -webkit-box-shadow: 0 31px 46px rgba(0, 0, 0, 0.97);
  box-shadow: 0 31px 46px rgba(0, 0, 0, 0.97);
  width: 50px;
  height: 50px;
  font-size: 27px;
  font-weight: 900;
  line-height: 42px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/* line 802, style.scss */
.section-four .block-steps .block-step h3 {
  font-size: 27px;
  font-weight: 900;
  margin-bottom: 5px;
}
/* line 807, style.scss */
.section-four .block-steps .block-step p {
  font-size: 16px;
  font-weight: 400;
  color: #878686;
  line-height: 30px;
  margin-top: 0;
}
/* line 815, style.scss */
.section-four .block-steps .block-step:first-child {
  margin-top: 400px;
  top: -55px;
}
/* line 819, style.scss */
.section-four .block-steps .block-step:nth-child(2) {
  margin-top: 165px;
  left: -100px;
}
/* line 823, style.scss */
.section-four .block-steps .block-step:nth-child(3) {
  margin-top: 140px;
  left: 65px;
}
/* line 827, style.scss */
.section-four .block-steps .block-step:last-child {
  margin-top: 0;
  left: -34px;
  top: 27px;
}
/* line 835, style.scss */
.section-four .btn-loud {
  position: absolute;
  right: 30%;
  bottom: 20%;
}

/*** Contacts ***/
/* line 844, style.scss */
.contacts {
  background: black;
  min-height: 100vh;
}
/* line 850, style.scss */
.contacts .main {
  /* &>.clearfix>.clearfix {
  	display: none;
  } */
}
/* line 854, style.scss */
.contacts .main .container {
  position: relative;
  z-index: 2;
}
/* line 857, style.scss */
.contacts .main .container .clearfix {
  display: none;
}
/* line 862, style.scss */
.contacts .main #map {
  position: absolute;
  pointer-events: none;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
/* line 871, style.scss */
.contacts .main #map:before {
  content: '';
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: url(../img/bg/bg-contact-shadows.png) no-repeat;
  opacity: .7;
  z-index: 1;
}
/* line 886, style.scss */
.contacts .main h2 {
  margin-bottom: 30px;
}
/* line 890, style.scss */
.contacts .main .side {
  vertical-align: top;
  display: inline-block;
}
/* line 895, style.scss */
.contacts .main .left-side {
  width: 60%;
  float: left;
}
/* line 899, style.scss */
.contacts .main .left-side .btn-loud {
  padding: 15px 35px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  margin-top: 20px;
}
/* line 908, style.scss */
.contacts .main .right-side {
  width: 40%;
  float: right;
  padding-left: 40px;
  box-sizing: border-box;
}
/* line 914, style.scss */
.contacts .main .right-side .contact-block {
  line-height: 25px;
  font-size: 15px;
  font-weight: 700;
}
/* line 919, style.scss */
.contacts .main .right-side .contact-block p {
  display: inline-block;
}
/* line 922, style.scss */
.contacts .main .right-side .contact-block .fa {
  color: #c31015;
  position: relative;
  margin-right: 20px;
  font-size: 35px;
}
/* line 930, style.scss */
.contacts .main .right-side .contact-block:first-child .fa {
  margin-right: 23px;
  top: 3px;
  float: left;
  padding-bottom: 20px;
}
/* line 938, style.scss */
.contacts .main .right-side .contact-block:nth-child(2) .fa {
  top: 7px;
  left: 3px;
  margin-right: 28px;
}
/* line 945, style.scss */
.contacts .main .right-side .contact-block:last-child .fa {
  font-size: 24px;
  top: 4px;
}

/*** Career ***/
/* line 957, style.scss */
.career {
  background: url(../img/bg/bg-career.jpg) top no-repeat black;
  background-attachment: fixed;
}
/* line 960, style.scss */
.career:before {
  content: '';
  position: fixed;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  -webkit-box-shadow: inset 10px 10px 168px 100px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 10px 10px 168px 100px rgba(0, 0, 0, 0.75);
  box-shadow: inset 10px 10px 168px 100px rgba(0, 0, 0, 0.75);
}
/* line 971, style.scss */
.career .main > .container {
  padding-bottom: 40px;
}
/* line 976, style.scss */
.career .career-list .career-block {
  opacity: 0;
  padding: 25px 35px;
  max-width: 960px;
  width: 100%;
  box-sizing: border-box;
  margin: 20px 0;
  font-weight: 500;
  position: relative;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.93);
  -webkit-transition: transform 0.7s;
  -moz-transition: transform 0.7s;
  -o-transition: transform 0.7s;
  transition: transform 0.7s;
}
/* line 997, style.scss */
.career .career-list .career-block:hover {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 1005, style.scss */
.career .career-list .career-block .block-sect {
  display: inline-block;
  vertical-align: top;
}
/* line 1009, style.scss */
.career .career-list .career-block .block-sect.descr {
  min-width: 290px;
}
/* line 1013, style.scss */
.career .career-list .career-block .block-sect.turnover {
  max-width: 200px;
  margin-left: 10px;
}
/* line 1016, style.scss */
.career .career-list .career-block .block-sect.turnover .mid-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
/* line 1022, style.scss */
.career .career-list .career-block .block-sect.icon {
  float: left;
  text-align: center;
  max-width: 90px;
}
/* line 1026, style.scss */
.career .career-list .career-block .block-sect.icon img {
  position: relative;
  top: 3px;
}
/* line 1032, style.scss */
.career .career-list .career-block .block-sect.percent {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 50px;
  color: #d91f26;
  line-height: 84px;
  min-width: 200px;
}
/* line 1041, style.scss */
.career .career-list .career-block .block-sect.lvl {
  font-size: 16px;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
  padding: 23px 0;
  box-sizing: border-box;
  width: 80px;
  margin-right: 20px;
}
/* line 1051, style.scss */
.career .career-list .career-block .block-sect.lvl .wrap-bg {
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
  box-sizing: border-box;
  padding: 7px 12px;
}
/* line 1059, style.scss */
.career .career-list .career-block .block-sect.lvl.lvl-1 .wrap-bg {
  background-color: #2f2f2f;
}
/* line 1062, style.scss */
.career .career-list .career-block .block-sect.lvl.lvl-2 .wrap-bg {
  background-color: #955139;
}
/* line 1065, style.scss */
.career .career-list .career-block .block-sect.lvl.lvl-3 .wrap-bg {
  background-color: #848e94;
}
/* line 1068, style.scss */
.career .career-list .career-block .block-sect.lvl.lvl-4 .wrap-bg {
  background-color: #e67700;
}
/* line 1071, style.scss */
.career .career-list .career-block .block-sect.lvl.lvl-5 .wrap-bg {
  background-color: #80361d;
}
/* line 1074, style.scss */
.career .career-list .career-block .block-sect.lvl.lvl-6 .wrap-bg {
  background-color: #3f549b;
}
/* line 1077, style.scss */
.career .career-list .career-block .block-sect.lvl.lvl-7 .wrap-bg {
  background-color: #a92527;
}
/* line 1080, style.scss */
.career .career-list .career-block .block-sect.lvl.lvl-8 .wrap-bg {
  background-color: #507d36;
}
/* line 1083, style.scss */
.career .career-list .career-block .block-sect.lvl.lvl-9 .wrap-bg {
  background-color: #2f939c;
}
/* line 1086, style.scss */
.career .career-list .career-block .block-sect.lvl.lvl-10 .wrap-bg {
  background-color: #13259a;
}
/* line 1091, style.scss */
.career .career-list .career-block .block-sect .sub-title {
  color: #515151;
  font-size: 12px;
}
/* line 1096, style.scss */
.career .career-list .career-block .block-sect .mid-title {
  letter-spacing: 1px;
  font-size: 27px;
  font-weight: 900;
  padding: 10px 0 12px;
}
/* line 1103, style.scss */
.career .career-list .career-block .block-sect .sup-title {
  font-size: 16px;
  color: #878686;
}
/* line 1106, style.scss */
.career .career-list .career-block .block-sect .sup-title .price {
  color: #d91f26;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
/* line 1116, style.scss */
.career .career-descr {
  margin: auto;
  background: url(../img/bg/bg-news.jpg) top no-repeat black;
  box-sizing: border-box;
}
/* line 1124, style.scss */
.career .career-descr .container {
  padding-top: 50px;
}
/* line 1127, style.scss */
.career .career-descr .career-descr-inner {
  max-width: 960px;
}
/* line 1130, style.scss */
.career .career-descr p {
  font-weight: 500;
  color: #b7b7b7;
  font-size: 18px;
  line-height: 43px;
}
/* line 1136, style.scss */
.career .career-descr h2 {
  margin-bottom: 30px;
}
/* line 1139, style.scss */
.career .career-descr h4 {
  color: #fefefe;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 43px;
  text-transform: uppercase;
}
/* line 1147, style.scss */
.career .career-descr img {
  max-width: 100%;
  margin-bottom: 40px;
}

/*** Faq ***/
/* line 1156, style.scss */
.faq {
  min-height: 100vh;
}
/* line 1161, style.scss */
.faq:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: url(../img/bg/bg-shadow.png);
  background-attachment: fixed;
}
/* line 1173, style.scss */
.faq .main h2 {
  margin-bottom: 40px;
}
/* line 1178, style.scss */
.faq .main .form-search form {
  position: relative;
  max-width: 650px;
}
/* line 1182, style.scss */
.faq .main .form-search .btn-search {
  position: absolute;
  right: 0;
  top: 2px;
  padding: 5px;
  font-size: 30px;
  background: none;
  color: #d91f26;
  box-shadow: none;
}
/* line 1193, style.scss */
.faq .main .form-search input {
  margin-left: 20px;
}
/* line 1199, style.scss */
.faq .main .faq-list .faq-item {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 15px 20px;
  display: inline-block;
}
/* line 1205, style.scss */
.faq .main .faq-list .faq-item:hover {
  cursor: pointer;
  -moz-border-radius: 26px;
  -webkit-border-radius: 26px;
  border-radius: 26px;
  background-color: #c30f15;
}
/* line 1211, style.scss */
.faq .main .faq-list .faq-item:hover i {
  color: white;
}
/* line 1216, style.scss */
.faq .main .faq-list .faq-item i {
  color: #c31015;
  padding-right: 15px;
}
/* line 1223, style.scss */
.faq .main .support-text {
  position: absolute;
  right: 0;
  bottom: 20%;
  display: none;
  letter-spacing: 1px;
  font-size: 22px;
  font-weight: 900;
  max-width: 500px;
  width: 100%;
  margin-top: 30px;
}
/* line 1234, style.scss */
.faq .main .support-text img {
  float: left;
  margin-right: 20px;
}
/* line 1238, style.scss */
.faq .main .support-text p {
  margin: 0;
  padding: 14px 0;
}

/*** Investments ***/
/* line 1247, style.scss */
.investments {
  background: url(../img/bg/bg-section-four.jpg) center -100px no-repeat black;
}
/* line 1250, style.scss */
.investments .clearfix-two {
  display: none;
}
/* line 1254, style.scss */
.investments .main h2 {
  margin-bottom: 0;
}
/* line 1259, style.scss */
.investments .section-invest {
  position: relative;
  padding: 65px 0 0;
}
/* line 1262, style.scss */
.investments .section-invest.section-more {
  padding: 40px 0 65px;
}
/* line 1265, style.scss */
.investments .section-invest h2 {
  padding-bottom: 0;
}
/* line 1270, style.scss */
.investments .section-four {
  background: none;
  padding-top: 0;
}
/* line 1274, style.scss */
.investments .section-four .block-steps {
  position: relative;
  left: 9%;
  top: -50px;
  margin-left: 0;
}
/* line 1281, style.scss */
.investments .section-four .btn-loud {
  position: absolute;
  right: 15%;
  bottom: 20%;
}
/* line 1289, style.scss */
.investments .section-cases p {
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  color: #878686;
}
/* line 1296, style.scss */
.investments .section-cases .case-descr {
  position: relative;
  top: -30px;
  margin-top: -6px;
  text-align: justify;
}
/* line 1302, style.scss */
.investments .section-cases .case-descr .case-price {
  font-size: 20px;
  color: #d91f26;
  font-family: "Roboto BoldCond", sans-serif;
  font-weight: 500;
}
/* line 1311, style.scss */
.investments .section-cases .case-list .case-item {
  opacity: 0;
  display: inline-block;
  width: 33.33333%;
  float: left;
  padding: 45px 30px 0;
  box-sizing: border-box;
  /* &:nth-child(1) {
  	background: url(../img/cases-icons/case-1.png) center no-repeat;
  	background-size: 115%;
  }
  
  &:nth-child(2) {
  	background: url(../img/cases-icons/case-2.png) center no-repeat;
  	background-size: 115%;
  }
  
  &:nth-child(3) {
  	background: url(../img/cases-icons/case-3.png) center no-repeat;
  	background-size: 115%;
  }
  
  &:nth-child(4) {
  	background: url(../img/cases-icons/case-4.png) center no-repeat;
  	background-size: 115%;
  }
  
  &:nth-child(5) {
  	background: url(../img/cases-icons/case-5.png) center no-repeat;
  	background-size: 115%;
  }
  
  &:nth-child(6) {
  	background: url(../img/cases-icons/case-6.png) center no-repeat;
  	background-size: 115%;
  }
  
  &:nth-child(7) {
  	background: url(../img/cases-icons/case-7.png) center no-repeat;
  	background-size: 115%;
  }
  
  &:nth-child(8) {
  	background: url(../img/cases-icons/case-8.png) center no-repeat;
  	background-size: 115%;
  }
  
  &:nth-child(9) {
  	background: url(../img/cases-icons/case-9.png) center no-repeat;
  	background-size: 115%;
  } */
}
/* line 1319, style.scss */
.investments .section-cases .case-list .case-item:hover {
  cursor: pointer;
}
/* line 1321, style.scss */
.investments .section-cases .case-list .case-item:hover img {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 1375, style.scss */
.investments .section-cases .case-list .case-item img {
  position: relative;
  left: -60px;
  max-width: 135%;
  -webkit-transition: transform 0.7s;
  -moz-transition: transform 0.7s;
  -o-transition: transform 0.7s;
  transition: transform 0.7s;
}
/* line 1389, style.scss */
.investments .section-more h2 {
  margin-top: 0;
}
/* line 1392, style.scss */
.investments .section-more p {
  font-size: 27px;
  margin: 65px 0 50px;
  font-weight: 900;
  line-height: 44px;
  letter-spacing: 1px;
}
/* line 1399, style.scss */
.investments .section-more .btn {
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

/*** About ***/
/* line 1409, style.scss */
.about {
  position: relative;
}
/* line 1412, style.scss */
.about .main .section-about-one {
  position: relative;
  background: url(../img/bg/bg-contact-shadow.png) center no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}
/* line 1420, style.scss */
.about .main h2 {
  margin: 10px 0 50px;
}
/* line 1423, style.scss */
.about .main .descr {
  font-weight: 500;
  line-height: 40px;
  font-size: 18px;
  color: #b7b7b7;
}
/* line 1430, style.scss */
.about .main .separate {
  margin-top: 40px;
}
/* line 1434, style.scss */
.about .main .about-list {
  margin: 0;
}
/* line 1436, style.scss */
.about .main .about-list .about-item {
  display: inline-block;
  width: 25%;
  float: left;
  padding: 55px 20px 0;
  box-sizing: border-box;
}
/* line 1442, style.scss */
.about .main .about-list .about-item img {
  float: left;
  padding-right: 20px;
  padding-bottom: 30px;
}
/* line 1448, style.scss */
.about .main .about-list .descr {
  font-size: 16px;
  line-height: 30px;
  margin: 0;
}
/* line 1455, style.scss */
.about .main .section-about-two {
  background: url(../img/bg/bg-about-two.jpg) center top no-repeat black;
  background-size: cover;
  min-height: 100vh;
}
/* line 1460, style.scss */
.about .main .section-about-two .container {
  padding-top: 0;
}
/* line 1463, style.scss */
.about .main .section-about-two .container .sep-sect {
  padding: 80px 0 20px;
}
/* line 1466, style.scss */
.about .main .section-about-two .container .sep-sect h2 {
  margin-bottom: 20px;
  display: inline-block;
}
/* line 1471, style.scss */
.about .main .section-about-two .container .sep-sect .btn {
  display: inline-block;
  margin-top: 30px;
}

/*** Statistics ***/
/* line 1482, style.scss */
.statistics {
  position: relative;
  background: url("../img/bg/bg-statistics.jpg") center no-repeat black;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}
/* line 1489, style.scss */
.statistics .main h2 {
  text-transform: inherit;
  margin: 20px 0 30px;
}
/* line 1494, style.scss */
.statistics .main .stat-graph {
  max-width: 100%;
}
/* line 1498, style.scss */
.statistics .main .btn-loud {
  display: inline-block;
  margin: 35px 0;
}
/* line 1502, style.scss */
.statistics .main .graph-container {
  display: none;
  box-sizing: border-box;
  max-width: 880px;
  width: 100%;
  height: 375px;
  padding: 20px 15px 15px 15px;
  background: #fff;
  background: transparent;
  border: 0;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
/* line 1521, style.scss */
.statistics .main .graph-placeholder {
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1.2em;
}
/* line 1528, style.scss */
.statistics .main .legend table {
  border-spacing: 5px;
}

/*** Statistics ***/
/* line 1536, style.scss */
.news {
  position: relative;
  background: url("../img/bg/bg-news.jpg") center no-repeat black;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}
/* line 1543, style.scss */
.news .main .news-list {
  margin: 0;
}
/* line 1545, style.scss */
.news .main .news-list .news-item {
  opacity: 0 !important;
  position: relative;
  width: 25%;
  display: inline-block;
  float: left;
  padding: 15px;
  box-sizing: border-box;
  -webkit-transition: opacity 2s, transform 0.7s;
  -moz-transition: opacity 2s, transform 0.7s;
  -o-transition: opacity 2s, transform 0.7s;
  transition: opacity 2s, transform 0.7s;
  /* &:before {
  	content: '';
  	position: absolute;
  	pointer-events: none;
  	left: 15px;
  	right: 15px;
  	bottom: 15px;
  	top: 15px;
  	background: rgba(0, 0, 0, .7);
  }
  &:hover:before {
  	background: none;
  } */
}
/* line 1557, style.scss */
.news .main .news-list .news-item:hover {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 1564, style.scss */
.news .main .news-list .news-item:hover img {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  filter: gray;
}
/* line 1586, style.scss */
.news .main .news-list .news-item.visible-mode {
  opacity: 1 !important;
}
/* line 1589, style.scss */
.news .main .news-list .news-item img {
  max-width: 100%;
  -webkit-transition: all .7s;
  -moz-transition: all .7s;
  -o-transition: all .7s;
  transition: all .7s;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}
/* line 1603, style.scss */
.news .main .news-list .news-item .news-date {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 40px;
  left: 40px;
  font-size: 21px;
  font-weight: 900;
}
/* line 1612, style.scss */
.news .main .news-list .news-item .news-title {
  position: absolute;
  bottom: 40px;
  left: 30px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 900;
  padding: 5px 10px;
  box-sizing: border-box;
  background-color: #d91f25;
}

/* Responsive Styles */
@media screen and (max-width: 1780px) {
  /* line 1631, style.scss */
  .main .container, .header, .section .container {
    margin-left: 290px;
    margin-right: 50px;
  }

  /* line 1635, style.scss */
  .investments {
    background: url(../img/bg/bg-section-four.jpg) -120px -100px no-repeat black;
  }

  /* line 1638, style.scss */
  .investments .section-four .block-steps {
    left: 55px;
  }

  /* line 1641, style.scss */
  .investments .section-invest.section-four {
    overflow: hidden;
  }

  /* line 1644, style.scss */
  .section-two h2 {
    margin-left: 0;
    text-align: left;
  }

  /* line 1648, style.scss */
  .section-two video {
    max-width: 35%;
  }

  /* line 1651, style.scss */
  .section-two .block-advantage.even.top-advantage:before {
    top: inherit;
    bottom: 0;
    left: -50px;
  }

  /* line 1656, style.scss */
  .section-two .block-advantage.odd.top-advantage:before {
    top: inherit;
    bottom: 30px;
    right: -85px;
  }

  /* line 1661, style.scss */
  .section-three .container {
    width: 55%;
  }

  /* line 1664, style.scss */
  .section-two video {
    left: 75px;
  }
}
@media screen and (max-width: 1440px) {
  /* line 1670, style.scss */
  .news .main .news-list .news-item {
    width: 33.33333%;
  }

  /* line 1674, style.scss */
  .section-two .block-advantage {
    margin: 0 !important;
    float: inherit !important;
    clear: both;
  }
  /* line 1679, style.scss */
  .section-two .block-advantage:before {
    right: 20%	!important;
    top: 20px !important;
    bottom: inherit !important;
    left: inherit !important;
  }

  /* line 1687, style.scss */
  .section-two video {
    left: inherit;
    right: -43%;
    max-width: 100%;
    top: -32%;
  }

  /* line 1693, style.scss */
  .main .container h1 {
    font-size: 75px;
  }

  /* line 1696, style.scss */
  .main .container h2, .index .container h2 {
    font-size: 45px;
  }

  /* line 1699, style.scss */
  .investments {
    background: url(../img/bg/bg-section-four.jpg) 0 -230px no-repeat black;
  }

  /* line 1702, style.scss */
  .section-four .block-steps .block-step:first-child {
    margin-top: 550px;
  }

  /* line 1705, style.scss */
  .section-four .block-steps .block-step:nth-child(2) {
    position: absolute;
    margin-top: 360px;
    left: 95px;
  }

  /* line 1710, style.scss */
  .section-four .block-steps .block-step:nth-child(3) {
    position: absolute;
    margin-top: 200px;
    left: 165px;
  }

  /* line 1715, style.scss */
  .section-four .block-steps .block-step:nth-child(4) {
    position: absolute;
    left: 325px;
    margin-top: 85px;
  }

  /* line 1720, style.scss */
  .investments .section-four .btn-loud {
    bottom: 35%;
  }

  /* line 1723, style.scss */
  .about .main .about-list .about-item {
    width: 50%;
  }

  /* line 1726, style.scss */
  .index .section-four .block-steps {
    width: 100%;
  }

  /* line 1729, style.scss */
  .index .section-four {
    background: url(../img/bg/bg-section-four.jpg) 20px -275px no-repeat;
  }

  /* line 1732, style.scss */
  .index .section-four .btn-loud {
    right: 10%;
  }
}
@media screen and (max-width: 1300px) {
  /* line 1738, style.scss */
  .section-three .reg-text {
    line-height: 30px;
    font-size: 16px;
  }

  /* line 1742, style.scss */
  .index .section-four .btn-loud {
    font-size: 18px;
  }

  /* line 1745, style.scss */
  .career .career-list .career-block .block-sect {
    width: 28% !important;
    margin-right: 0;
  }
  /* line 1748, style.scss */
  .career .career-list .career-block .block-sect.icon {
    padding-bottom: 65px;
  }
  /* line 1750, style.scss */
  .career .career-list .career-block .block-sect.icon img {
    top: 10px;
  }
  /* line 1754, style.scss */
  .career .career-list .career-block .block-sect.lvl {
    margin-right: 0;
    padding: 7px 0;
    min-width: 200px;
  }
  /* line 1758, style.scss */
  .career .career-list .career-block .block-sect.lvl .wrap-bg {
    max-width: 100px;
    margin: auto;
  }
  /* line 1763, style.scss */
  .career .career-list .career-block .block-sect .about .main .descr br {
    display: none;
  }
  /* line 1766, style.scss */
  .career .career-list .career-block .block-sect.turnover .mid-title, .career .career-list .career-block .block-sect.turnover .sub-title {
    display: inline-block;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 22px;
    margin-right: 5px;
    letter-spacing: 1px;
  }
  /* line 1775, style.scss */
  .career .career-list .career-block .block-sect.turnover {
    margin-left: 0;
  }
  /* line 1778, style.scss */
  .career .career-list .career-block .block-sect.descr, .career .career-list .career-block .block-sect.turnover {
    width: 40% !important;
    max-width: inherit;
  }

  /* line 1783, style.scss */
  .investments .section-cases .case-list .case-item img {
    left: -45px;
  }

  /* line 1786, style.scss */
  .index .section-four {
    background: url(../img/bg/bg-section-four.jpg) -20px -275px no-repeat;
  }
}
@media screen and (max-width: 1150px) {
  /* line 1792, style.scss */
  .section-three .container {
    width: 55%;
  }

  /* line 1795, style.scss */
  .index .section-four {
    background: url(../img/bg/bg-section-four.jpg) -40px -275px no-repeat;
  }

  /* line 1798, style.scss */
  .aside {
    padding: 20px 20px 80px 45px;
  }

  /* line 1801, style.scss */
  .about .main .descr br {
    display: none;
  }

  /* line 1804, style.scss */
  .video-link {
    margin: 0 0 0 30px;
  }

  /* line 1807, style.scss */
  .investments .section-cases .case-list .case-item img {
    left: -35px;
  }

  /* line 1810, style.scss */
  .main .container {
    padding-top: 135px;
  }

  /* line 1813, style.scss */
  .investments .section-cases p {
    line-height: 25px;
    margin-bottom: 0;
  }

  /* line 1817, style.scss */
  .main .container, .header, .section .container {
    margin-left: 225px;
  }

  /* line 1820, style.scss */
  .investments .section-cases .case-list .case-item {
    padding: 15px 25px 0;
  }

  /* line 1823, style.scss */
  .header .login .btn-loud {
    margin-left: 20px;
  }

  /* line 1826, style.scss */
  .footer {
    margin: 0 30px 0;
    padding-bottom: 50px;
  }

  /* line 1830, style.scss */
  .contacts .main .right-side .contact-block {
    font-size: 14px;
  }

  /* line 1833, style.scss */
  .contacts .main .right-side .contact-block:first-child .fa {
    padding-bottom: 50px;
  }

  /* line 1836, style.scss */
  .faq .main .support-text {
    position: relative;
    font-size: 18px;
  }

  /* line 1840, style.scss */
  .aside .nav li {
    line-height: 36px;
  }

  /* line 1843, style.scss */
  .investments {
    background: url(../img/bg/bg-section-four.jpg) -45px -280px no-repeat black;
  }

  /* line 1846, style.scss */
  .investments .section-four .btn-loud {
    position: absolute;
    right: 40px;
    font-size: 16px;
    bottom: 25%;
  }

  /* line 1853, style.scss */
  .index video {
    width: 100%;
    height: 100%;
    min-width: inherit;
    min-height: inherit;
  }
}
@media screen and (max-width: 960px) {
  /* line 1863, style.scss */
  .main .container h1 {
    font-size: 65px;
  }

  /* line 1866, style.scss */
  .section-four .block-steps .block-step {
    height: 180px;
  }

  /* line 1869, style.scss */
  .news .main .news-list .news-item {
    width: 50%;
  }

  /* line 1872, style.scss */
  .index .section-four .block-steps {
    position: static;
    width: inherit;
    margin: 0;
    margin-top: 65px;
  }

  /* line 1878, style.scss */
  .index .section-four .btn-loud {
    position: static;
    display: inline-block;
    margin-top: 30px;
  }

  /* line 1883, style.scss */
  .index .container h2 {
    padding-bottom: 0;
  }

  /* line 1886, style.scss */
  .news .main .news-list .news-item .news-title {
    font-weight: 700;
    font-size: 14px;
  }

  /* line 1890, style.scss */
  .aside .nav {
    top: 50%;
  }

  /* line 1893, style.scss */
  .video-link {
    margin: 30px 0;
    display: block;
    font-size: 18px;
  }

  /* line 1898, style.scss */
  .about .main .section-about-two .container .sep-sect h2 {
    letter-spacing: 1px;
    line-height: 60px;
  }

  /* line 1902, style.scss */
  .footer .footer-nav a {
    margin: 0 5px;
  }

  /* line 1905, style.scss */
  .contacts .main .side {
    width: 100% !important;
  }

  /* line 1908, style.scss */
  .contacts .main .right-side .contact-block {
    font-size: 16px;
  }

  /* line 1911, style.scss */
  .contacts .main .right-side .contact-block:first-child .fa {
    padding-bottom: 0;
  }

  /* line 1914, style.scss */
  .contacts .main .right-side {
    padding-left: 0;
  }

  /* line 1917, style.scss */
  .faq .main .form-search input {
    margin-left: 0;
  }

  /* line 1920, style.scss */
  .faq .main .form-search .btn-search {
    right: 10px;
    top: 2px;
  }

  /* line 1924, style.scss */
  .aside .nav li {
    line-height: 30px;
  }

  /* line 1927, style.scss */
  .career .career-list .career-block .block-sect.turnover .mid-title, .career .career-list .career-block .block-sect.turnover .sub-title {
    font-size: 15px;
  }

  /* line 1930, style.scss */
  .career .career-list .career-block .block-sect.descr {
    min-width: 190px;
  }

  /* line 1933, style.scss */
  .career .career-list .career-block .block-sect.percent, .career .career-list .career-block .block-sect.lvl {
    min-width: inherit;
    padding: 0;
  }

  /* line 1937, style.scss */
  .main .container h2, .index .container h2 {
    line-height: 45px;
  }

  /* line 1940, style.scss */
  .career .career-list .career-block .block-sect.descr, .career .career-list .career-block .block-sect.turnover {
    width: 47% !important;
  }

  /* line 1943, style.scss */
  .career .career-list .career-block .block-sect .mid-title {
    font-size: 18px;
  }

  /* line 1946, style.scss */
  .career .career-list .career-block .block-sect.percent {
    font-size: 36px;
  }

  /* line 1949, style.scss */
  .career .career-list .career-block .block-sect.lvl {
    font-size: 14px;
  }

  /* line 1952, style.scss */
  .career .career-list .career-block .block-sect.lvl .wrap-bg {
    max-width: 85px;
  }

  /* line 1955, style.scss */
  .career .career-list .career-block {
    padding: 15px 25px;
  }

  /* line 1958, style.scss */
  .investments .section-cases .case-list .case-item {
    width: 50%;
  }

  /* line 1961, style.scss */
  .investments .section-cases .case-list .clearfix-three {
    display: none;
  }

  /* line 1964, style.scss */
  .investments .section-cases .case-list .clearfix-two {
    display: block;
  }

  /* line 1967, style.scss */
  .investments .section-cases .case-list .case-item img {
    max-width: 100%;
    left: 0;
  }

  /* line 1971, style.scss */
  .investments .section-cases .case-descr {
    text-align: center;
  }

  /* line 1974, style.scss */
  .investments .main h2 {
    margin-bottom: 45px;
  }

  /* line 1977, style.scss */
  .investments .section-cases .case-descr {
    top: -20px;
  }

  /* line 1980, style.scss */
  .investments .section-cases .case-list .case-item:last-child {
    width: 100%;
  }

  /* line 1983, style.scss */
  .investments .section-four .btn-loud {
    position: static;
  }

  /* line 1986, style.scss */
  .section-four .block-steps .block-step {
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
    height: 150px;
    text-align: center;
    margin: 30px 0 !important;
    box-sizing: border-box;
    width: 50%;
  }

  /* line 1996, style.scss */
  .investments .section-four .block-steps {
    position: static;
  }

  /* line 1999, style.scss */
  .section-four .block-steps .block-step:before {
    left: 0;
    top: -30px;
    z-index: -1;
  }

  /* line 2004, style.scss */
  .investments .section-invest.section-four {
    padding: 0 0 65px;
  }

  /* line 2007, style.scss */
  .investments {
    background: url(../img/bg/bg-section-four.jpg) left bottom no-repeat black;
  }

  /* line 2010, style.scss */
  .section-four .block-steps .block-step p {
    padding: 0 20px;
    font-weight: 700;
    box-sizing: border-box;
  }
  /* line 2014, style.scss */
  .section-four .block-steps .block-step p br {
    display: none;
  }

  /* line 2018, style.scss */
  .investments .section-invest {
    overflow: inherit;
  }

  /* line 2021, style.scss */
  .about .main .section-about-two .container .sep-sect h2 br {
    display: none;
  }

  /* line 2024, style.scss */
  .about .main .section-about-two .container .sep-sect:nth-child(2) {
    padding-top: 30px;
  }

  /* line 2027, style.scss */
  #fp-nav {
    display: none;
  }

  /* line 2030, style.scss */
  .section-three h2 {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 760px) {
  /* line 2036, style.scss */
  .news .main .news-list {
    text-align: center;
  }

  /* line 2039, style.scss */
  .burger-block {
    display: inline-block;
  }

  /* line 2042, style.scss */
  .career .career-list .career-block .block-sect.icon {
    padding-bottom: 15px;
  }

  /* line 2045, style.scss */
  .about {
    background: black;
  }

  /* line 2048, style.scss */
  .statistics .main .btn-loud {
    font-size: 16px;
  }

  /* line 2051, style.scss */
  .investments .section-four .main h2 {
    margin-bottom: 80px;
  }

  /* line 2054, style.scss */
  .section-three .container {
    width: 70%;
  }

  /* line 2057, style.scss */
  .section-four .block-steps .block-step h3 {
    margin-top: 0;
  }

  /* line 2060, style.scss */
  .section-four .block-steps .block-step:before {
    top: -55px;
  }

  /* line 2063, style.scss */
  .header .login .btn-loud {
    display: none;
  }

  /* line 2066, style.scss */
  .main .container h1 {
    font-size: 45px;
  }

  /* line 2069, style.scss */
  .logo img {
    max-width: 70%;
  }

  /* line 2072, style.scss */
  .main .container, .header, .section .container {
    margin-left: 40px;
  }

  /* line 2075, style.scss */
  .footer {
    margin-top: 50px;
    border-top: 1px solid gray;
    position: relative;
    background: black;
    margin: 0;
  }

  /* line 2082, style.scss */
  .section .container {
    padding-bottom: 35px;
  }

  /* line 2085, style.scss */
  .main .container {
    padding-bottom: 50px;
  }

  /* line 2088, style.scss */
  .footer .social-icons {
    float: inherit;
    position: static;
    margin-top: 40px;
  }

  /* line 2093, style.scss */
  .footer .copyright {
    position: static;
    margin: 30px 0;
  }

  /* line 2097, style.scss */
  .news .main .news-list .news-item .news-title {
    left: 15px;
    right: 15px;
    bottom: 0;
  }

  /* line 2102, style.scss */
  nav.navbar {
    display: none;
  }

  /* line 2105, style.scss */
  .aside {
    position: relative;
    padding: 20px 0 40px 40px;
  }

  /* line 2109, style.scss */
  .index .aside {
    position: absolute;
    padding: 20px 20px 0 45px;
    height: auto;
  }

  /* line 2114, style.scss */
  .main .container {
    padding-top: 0;
  }

  /* line 2117, style.scss */
  .header .lang-select {
    float: right;
  }

  /* line 2120, style.scss */
  .main .container h2, .index .container h2 {
    font-size: 30px;
  }

  /* line 2123, style.scss */
  .contacts .main .right-side .contact-block {
    font-size: 14px;
  }

  /* line 2126, style.scss */
  .career:before {
    -webkit-box-shadow: inset 10px 10px 168px 100px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 10px 10px 168px 100px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 10px 58px 20px rgba(0, 0, 0, 0.75);
  }

  /* line 2131, style.scss */
  .career .footer {
    background: black;
    margin: 0;
  }

  /* line 2135, style.scss */
  .career .career-descr p {
    margin-bottom: 0;
    padding-bottom: 15px;
  }

  /* line 2139, style.scss */
  .investments .section-more p {
    font-size: 20px;
    margin: 25px 0 40px;
  }

  /* line 2144, style.scss */
  .investments .section-cases p br {
    display: none;
  }

  /* line 2148, style.scss */
  .section-four .block-steps .block-step h3 {
    font-size: 22px;
    padding: 0 15px;
  }

  /* line 2152, style.scss */
  .section-one {
    font-size: 85px;
  }
}
@media screen and (max-width: 550px) {
  /* line 2158, style.scss */
  .main .container, .header, .section .container {
    margin-left: 35px;
    margin-right: 35px;
  }

  /* line 2162, style.scss */
  .section-two .block-advantage p {
    padding-right: 90px;
  }
  /* line 2164, style.scss */
  .section-two .block-advantage p br {
    display: none;
  }

  /* line 2168, style.scss */
  .header {
    overflow: hidden;
  }

  /* line 2171, style.scss */
  .section-two .block-advantage:before {
    display: none;
  }

  /* line 2174, style.scss */
  .career .career-list .career-block .block-sect.turnover {
    margin-top: -4px;
  }

  /* line 2177, style.scss */
  .section-two .block-advantage h3 {
    position: relative;
    font-size: 20px;
    margin-bottom: 0;
    display: inline-block;
  }

  /* line 2184, style.scss */
  .section-two .block-advantage h3:before {
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
    content: '';
    right: -30px;
    top: 5px;
    position: absolute;
    width: 18px;
    height: 18px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: #d91f26;
  }

  /* line 2200, style.scss */
  .section-four .block-steps .block-step p {
    font-size: 14px;
    line-height: 24px;
  }

  /* line 2204, style.scss */
  .about .main .descr, .about .main .about-list .descr {
    font-size: 14px;
    line-height: 28px;
  }

  /* line 2208, style.scss */
  .about .main .about-list .about-item {
    width: 100%;
  }

  /* line 2211, style.scss */
  .about .main .about-list {
    padding-bottom: 40px;
  }

  /* line 2214, style.scss */
  .section-three .container {
    width: initial;
  }

  /* line 2217, style.scss */
  .about .main .about-list .about-item img {
    padding-right: 10px;
    padding-bottom: 5px;
  }

  /* line 2221, style.scss */
  .investments {
    background: url(../img/bg/bg-section-four.jpg) left top no-repeat black;
  }

  /* line 2224, style.scss */
  .news .main .news-list .news-item .news-date {
    font-size: 16px;
  }

  /* line 2227, style.scss */
  .news .main .news-list .news-item .news-title {
    font-size: 12px;
  }

  /* line 2230, style.scss */
  .investments .section-cases .case-list .case-item {
    width: 100%;
  }

  /* line 2233, style.scss */
  .investments .section-cases .case-descr {
    top: -30px;
  }

  /* line 2236, style.scss */
  .faq .main .faq-list .faq-item {
    font-size: 18px;
  }

  /* line 2239, style.scss */
  input, textarea {
    font-size: 18px;
  }

  /* line 2242, style.scss */
  .faq .main .form-search .btn-search {
    right: 10px;
    top: -1px;
  }

  /* line 2246, style.scss */
  .main .container h2, .index .container h2 {
    line-height: 36px;
  }

  /* line 2249, style.scss */
  .about .main .section-about-two .container .sep-sect h2 {
    line-height: 40px;
  }

  /* line 2252, style.scss */
  .career .career-list .career-block .block-sect {
    width: 50% !important;
  }

  /* line 2255, style.scss */
  .career .career-list .career-block .block-sect.descr {
    width: 100% !important;
    text-align: center;
    margin-bottom: 20px;
  }

  /* line 2260, style.scss */
  .career .career-list .career-block .block-sect.icon {
    max-width: inherit;
  }

  /* line 2263, style.scss */
  .career .career-list .career-block .block-sect.percent {
    font-size: 50px;
  }
}
@media screen and (max-width: 480px) {
  /* line 2269, style.scss */
  .main .container h1 {
    font-size: 35px;
    margin-bottom: 20px;
  }
  /* line 2272, style.scss */
  .main .container h1:before {
    top: -5px;
  }

  /* line 2276, style.scss */
  .section-four .block-steps .block-step {
    float: inherit !important;
  }

  /* line 2279, style.scss */
  .about .main .section-about-two .container .sep-sect .btn {
    font-size: 16px;
  }

  /* line 2282, style.scss */
  .statistics .main .btn-loud {
    font-size: 12px;
  }

  /* line 2285, style.scss */
  .video-link {
    font-size: 14px;
  }

  /* line 2288, style.scss */
  .section-four .block-steps .block-step {
    width: 100%;
    height: auto;
  }

  /* line 2292, style.scss */
  .main .container h2, .index .container h2 {
    font-size: 22px;
  }

  /* line 2295, style.scss */
  .investments .section-invest {
    padding: 45px 0 20px;
  }

  /* line 2298, style.scss */
  .investments .section-more p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
  }

  /* line 2303, style.scss */
  .investments .section-cases .case-list .case-item {
    padding: 15px 0;
  }

  /* line 2306, style.scss */
  .investments .section-four {
    padding-bottom: 50px;
    padding-top: 0;
  }
}
@media screen and (max-width: 380px) {
  /* line 2314, style.scss */
  .footer .footer-nav a {
    display: block;
    padding: 5px 0;
    margin: 10px 5px;
  }

  /* line 2320, style.scss */
  .header {
    width: 50%;
    left: initial;
    margin-top: 45px;
  }
  /* line 2324, style.scss */
  .header .login {
    padding: 0 10px 20px 40px;
  }

  /* line 2328, style.scss */
  .career .career-list .career-block .block-sect.turnover .mid-title {
    font-size: 13px;
  }

  /* line 2331, style.scss */
  .career .career-list .career-block .block-sect.lvl.lvl-9 .wrap-bg {
    margin-top: 10px;
  }

  /* line 2334, style.scss */
  .faq .main .faq-list .faq-item {
    font-size: 14px;
    padding-left: 0;
  }

  /* line 2338, style.scss */
  input, textarea {
    font-size: 16px;
  }

  /* line 2341, style.scss */
  .faq .main .faq-list .faq-item i {
    padding: 0 10px;
  }
}
@media screen and (max-height: 700px) {
  /* line 2347, style.scss */
  .section-one img {
    bottom: 20px;
    width: 25px;
  }
}
